[2018-06-27 11:05] embexus opened #8 "ERROR: ParseError at meta-freescale/recipes-graphics/imx-gpu-viv/imx-gpu-viv-6.inc:32: unparsed line: '"'"
https://github.com/Freescale/meta-freescale/blob/d40f4ca5fb00812af414f41c72761fad6dd5100f/recipes-graphics/imx-gpu-viv/imx-gpu-viv-6.inc#L32

[2018-06-27 11:17] grandpaul commented on #8
I met this too. There's an extra double quote " after EXTRA_PROVIDES_append_imxgpu3d in recipes-graphics/imx-gpu-viv/imx-gpu-viv-6.inc

[2018-07-06 09:41] Nubosch opened #10 "weston_4.0.0.imx and libdrm_2.4.84.imx used for mx7d"
Is there any advantage for mx7d to use special version of weston/drm? Shouldn't this only be changed for mx7ulp?

[2018-07-12 11:05] jonathanhaigh-arm opened #11 "IMAGE_BOOT_FILES broken after recent kernel-devicetree.bbclass changes"
**Description**
The recent openembedded-core commit [1860d9d3c62e2e94cd68a809385873ffd8270b6d](https://github.com/openembedded/openembedded-core/commit/1860d9d3c62e2e94cd68a809385873ffd8270b6d) changed the names of DTB files in the deploy directory, but meta-freescale's IMAGE_BOOT_FILES content hasn't been updated to reflect this.

The DTB related contents of IMAGE_BOOT_FILES is generated using th

[2018-07-12 12:05] otavio commented on #11
It has been fixed with 791a4e76

[2018-07-12 12:05] #11 closed

[2018-07-12 12:23] jonathanhaigh-arm commented on #11
Great, thanks Otavio.

[2018-07-12 17:31] otavio commented on #10
It is not a matter of advantage or not. We are trying to stick, when using NXP's BSP, to the vendor components.

If you wish to use mainline, it is very possible. Add `use-mainline-bsp` to `MACHINEOVERRIDES` and it will use the official version.

[2018-07-12 17:31] #10 closed

[2018-07-12 17:32] otavio commented on #8
It has been fixed on master and sumo. Thanks for letting us know about the issue.

[2018-07-12 17:32] #8 closed

[2018-07-17 07:08] dv1 opened #12 "OpenGL ES 2.x support in gstreamer1.0-plugins-base bbappend broken"
The gstreamer1.0-plugins-base bbappend enables the gles2 packageconfig for imxgpu3d, but not the egl one. However, on the imx6 and imx8, both are needed for proper OpenGL ES 2.x support.

Here is the patch: https://gist.github.com/dv1/8475271a79f1dfd932132ae9251366dc

[2018-07-31 17:11] otavio commented on #12
It has been fixed in 54cfea29b commit. Closing it.

[2018-07-31 17:11] #12 closed

[2018-09-25 10:53] g0hl1n opened #16 "git.arm.linux.org.uk down"
Hi,
currently git.arm.linux.org.uk is not reachable. Therefore at least *xf86-video-armada* and *libdrm-armada* are not fetchable.

As a workaround for me I've created a mirror of them (from my download cache) here at github:
https://www.github.com/g0hl1n/xf86-video-armada
https://www.github.com/g0hl1n/libdrm-armada

Unfortunately I've got an old revision of xf86-video-armada which fails to build

[2018-10-01 08:04] g0hl1n commented on #16
it's up again.

[2018-10-01 08:04] #16 closed

[2018-10-11 14:11] cpboyd opened #18 "build(core-image-sato): conflict with remove_imxgpu2d and matchbox"
I ran into an issue on the rocko release and noticed this thread for morty:
https://lists.yoctoproject.org/pipermail/poky/2017-June/011007.html

Simply commenting out these lines from `recipes-graphics/gtk+/gtk+3_%.bbappend` allowed the build to continue:
[code]

That is still present in the current master & sumo branches, so presumably the build issue is still present in the pending sumo release.

[2018-10-15 16:41] otavio commented on #18
What is your `DISTRO_FEATURES` value?

[2018-10-15 19:37] cpboyd commented on #18
I used `DISTRO` `fslc-xwayland` which has:
[code]

[2018-10-15 20:16] otavio commented on #18
Humm, this seems to be the culprit. Could you test using x11?

[2018-10-16 17:17] cpboyd commented on #18
Using `fslc-x11` instead seems to eliminate the build issue.

[2018-10-26 18:39] #18 closed

[2018-12-03 17:13] cdgarren opened #27 "gtk+3_%.bbappend causes build failure"
The bbappend for gtk+3 is causing chromium-x11 to fail. It relies on the gtk x11 headers to be present, but this removes x11 from the distro features, and causes the headers to not be generated. Commenting out the bbappend contents allows the build to succeed.

[2018-12-03 17:20] otavio commented on #27
Which machine and distro did you use?

[2018-12-03 17:21] cdgarren commented on #27
Machine is var-som-mx6, and distro is poky. I was using the imx7-var-som and was able to build successfully.

[2018-12-03 17:44] otavio commented on #27
Which branch?

[2018-12-03 18:46] cdgarren commented on #27
I'm on the sumo branch.

[2018-12-03 20:18] thochstein commented on #27
Originally the bbappend disabled Wayland backend if x11 was in the distro. Since we now use Wayland backend for i.MX GPU if both wayland and x11 are in the distro, the disablement was reversed. I don't know  the ramifications of dropping the x11 disablement. I'll try to ask Prabhu. Is it possible to use a Wayland version of chromium instead?

[2018-12-04 15:36] cdgarren commented on #27
My schedule doesn't allow time to work on using chromium-wayland. One suggestion I have is to possibly warn or error if both distro features are enabled, instead of silently removing one.

[2019-01-14 15:17] deinok opened #35 "Receipes that depend on libusb are broken"
They should depend on "libusb1"

[2019-01-14 15:35] angolini commented on #35
Would you mind to prepare a PR?

[2019-01-14 16:48] deinok commented on #35
@angolini sure, just let me run a `bitbake world`
Also, a normal PR to github.com repo is okey (Not to yoctoproject.org or via email)?

[2019-01-14 17:06] angolini commented on #35
From meta-freescale, I was able to stop only 2 recipes with DEPENDS = "libusb"

[code]

Some other recipe already depends on libusb1

If you need to update some recipe from yocto or openembedded, than it's better to send the patch to the proper mailing list.

If it's meta-freescale related recipe, you can choose what you prefer. Some PR are being accepted without being sent to the community, and a

[2019-01-14 19:49] deinok commented on #35
Yep, these two are the only one that cause compilation issues.
A `bitbake world` runs well.

Don't worry, its just that some repositories ask contributors to follow a diferent way to send patches

[2019-01-15 16:57] #35 closed

[2019-01-17 04:39] NguyenTrongThinh opened #39 "imx-boot_0.2.bb do_compile Failure"
**ISSUE**
| NOTE: Copy ddr_firmware: lpddr4_pmu_train_2d_dmem.bin from /home/user1/DATA2/SeiWhale/Yocto/build-seiwhale/tmp/deploy/images/imx8mqevk -> /home/user1/DATA2/SeiWhale/Yocto/build-seiwhale/tmp/work/imx8mqevk-fsl-linux/imx-boot/0.2-r0/git/iMX8M
| **cp: cannot stat '/home/user1/DATA2/SeiWhale/Yocto/build-seiwhale/tmp/deploy/images/imx8mqevk/imx-boot-tools/u-boot-nodtb.bin': No such file or

[2019-01-17 11:13] angolini commented on #39
let me try it on my side.

[2019-01-17 13:20] angolini commented on #39
Can you, please try https://github.com/angolini/meta-freescale/tree/fix_u-boot_nodtb

So I can create the PR and merge

[2019-01-18 02:38] NguyenTrongThinh commented on #39
@angolini, I have just tried your meta-freescale branch fix_u-boot_nodtb. I confirmed that no error occurs while building core-image-weston. Below are some lines in log:

**meta-freescale       = "fix_u-boot_nodtb:5a7d790a0b9a49f1446acd44905feaac5aafa115"**
meta-freescale-distro = "thud:771fb6d4c0c9530083fcc8c5452270bb9b3915ba"

Initialising tasks: 100% |#######################################| Ti

[2019-01-21 03:38] NguyenTrongThinh opened #42 "Applying Qt Patch error"
**_ISSUES_**

NOTE: Applying patch **'0015-Add-eglfs-to-IMX-GPU.patch**' (../sources/meta-freescale/dynamic-layers/qt5-layer/recipes-qt/qt5/qtbase/0015-Add-eglfs-to-IMX-GPU.patch)
**WARNING:
Some of the context lines in patches were ignored. This can lead to incorrectly applied patches.
The context lines in the patches can be updated with devtool:**

    devtool modify <recipe>
    devtool finish

[2019-01-22 10:45] cyrilfr commented on #42
I have the same issue.

[2019-01-22 11:26] cyrilfr opened #43 "[to be closed] Bad performances of QWebEngine"
Hi,

I compile QWebEngine with [meta-qt5 sumo](https://github.com/meta-qt5/meta-qt5/tree/sumo) on top of [meta-freescale](https://github.com/Freescale/meta-freescale) for the UDOO Neo (CPU i.MX6 SoloX, Vivante GPU) with the Linux kernel 4.1.

The performances are really bad when I display 2 inline SVG. The CPU reaches the maximum temperature and QWebEngine crashes randomly. The CPU usage displayed

[2019-01-23 09:13] NguyenTrongThinh commented on #42
I checked the content of the patch. We may not need them because all lines need to be applied are available in source code.

[2019-01-29 19:06] otavio commented on #39
I merged #41. Closing it.

[2019-01-29 19:06] #39 closed

[2019-01-29 19:07] otavio commented on #27
Any news on this side? otherwise I will close this.

[2019-03-06 04:24] NguyenTrongThinh opened #53 "u-boot-imx-mfgtool compiled with error"
**My environment**
meta-freescale: thud
meta-openembedded: thud
poky: thud
Ubuntu 18.04
**ISSUE:**
| DEBUG: Python function extend_recipe_sysroot finished
| DEBUG: Executing shell function do_install
**| install: cannot create regular file '/home/thinhnguyen/DATA2/imx8mqevk/Yocto/build-imx8mqevk/tmp/work/imx8mqevk-imx8mqevk-linux/u-boot-imx-mfgtool/2017.03-r0/image/boot/spl/u-boot-spl.bin-imx8mqev

[2019-03-07 08:21] chenzilin opened #54 "kernel-module-imx-gpu-viv module warning"
I got warnings when set two variable keys under branch master and rocko:

MACHINE_HAS_VIVANTE_KERNEL_DRIVER_SUPPORT = "1"
MACHINE_USES_VIVANTE_KERNEL_DRIVER_MODULE = "0"

I found the question of this and maybe resolved it:

<pre>
--- a/classes/fsl-vivante-kernel-driver-handler.bbclass
+++ b/classes/fsl-vivante-kernel-driver-handler.bbclass
@@ -41,9 +41,9 @@ python fsl_vivante_kernel_driver_handler

[2019-03-08 22:46] QB4-dev opened #55 "ds2781_battery driver probe error"
Enabled w1-gpio driver for 1-wire devices, also enabled **w1_ds2781**  **ds2781_battery** drivers. Master finds ds2781 chip, but ds2781-battery driver returns **-22(EINVAL)**

[code]

tested on linux-fslc/4.20+gitAUTOINC+bf414f71d7-r0

[2019-03-18 23:46] IniterWorker opened #58 "Adding a white-space into each (append) variable"
# Summary

Many append variables in meta-freescale haven't a white a the string start. According to the official documentation, all append variable require a white-space to prevent the #57 problem.

## Official Documentation

### [3.1.8. Appending and Prepending (Overrid#e Style Syntax)](https://www.yoctoproject.org/docs/1.6/bitbake-user-manual/bitbake-user-manual.html)
B_append = " additional dat

[2019-03-19 00:19] otavio commented on #58
Sure but please check the new branches as well.

[2019-03-19 04:59] IniterWorker commented on #58
@otavio something like that or you have any other preference.

[2019-03-19 05:23] IniterWorker commented on #58
I forget something in the regex. I will modify my PRs in few hours @otavio

[2019-03-20 18:34] ruibailin opened #66 "Wrong when populate SDK"
I want to setup a standalone compiling environment from yocto project, but meet with the following wrong:

$ DISTRO=fsl-imx-wayland MACHINE=imx8mqevk bitbake core-image-base –c populate_sdk                                                                                                                                                                                                                 Lo

[2019-03-20 18:47] otavio commented on #66
@thochstein would be in a better position to reply as this seems to be using the NXP SDK.

[2019-03-26 14:59] thochstein commented on #66
Where did you get that command line from? You shouldn't specify the DISTRO in a bitbake since the DISTRO should not change and should already be set in your build folder config. It's okay to set MACHINE, though it is un-necessary if you already set up your build folder with that MACHINE.

The error message looks to be specifically due to a typo. You have an 'en dash' on the command line so bitbake

[2019-03-28 03:01] IniterWorker opened #68 "Symbolic links override between general purpose and mfgtool"
## Actual Behavior
When I have run the mfgtool image, the symbolic links of u-boot mfgtool and the kernel mfgtool replaced the current reference of my mainline image.

## Possible Answer
- Create specific links to the last build files mfgtool (u-boot, dtb, kernel).
- Rewrite symbolic links output (u-boot, kernel).

## Specifications
  - Version: Sumo

[2019-04-05 21:40] otavio commented on #27
Close due inactiveness.

[2019-04-05 21:40] #27 closed

[2019-04-05 21:40] #43 closed

[2019-04-05 21:41] otavio commented on #58
All PR were applied. Closing it now.

[2019-04-05 21:41] #58 closed

[2019-04-05 21:43] otavio commented on #66
Seems like it is indeed a typo from the user. I am hence closing this issue.

[2019-04-05 21:43] #66 closed

[2019-05-03 20:04] texierp opened #86 "Problem with MACHINEOVERRIDES_EXTENDER_FILTER_OUT"
Hi @otavio ,

It seems we have a problem with the MACHINEOVERRIDES_EXTENDER_FILTER_OUT variable.

Actually, I had a doubt about the following output:

[code]

More precisely with the variable TUNE_FEATURES.

Example :

[code]

armv7ve seems incorrect for the mx7 family according to the imx-base file.

And now, if I comment on the variable 'MACHINEOVERRIDES_EXTENDER_FILTER_OUT_use-mainline-bsp' :

[2019-05-15 18:56] cpboyd opened #93 "imx-gpu-viv issue with xserver-xorg"
Is there a reason `imx-gpu-viv` hasn't been updated to version `6.2.4.p4.0` as on https://source.codeaurora.org/external/imx/meta-fsl-bsp-release/tree/imx/meta-bsp/recipes-graphics/imx-gpu-viv?h=sumo-4.14.98-2.0.0_ga ?

I still get a vague seg fault if unless I rollback `xserver-xorg` to `1.19.6` like in Variscite's BSP: https://github.com/varigit/meta-variscite-fslc/commit/5e18d511626c86dd69cf206

[2019-05-15 18:58] angolini commented on #93
Do you mean #90 ?

[2019-05-15 19:02] cpboyd commented on #93
@angolini I do.  Thanks!
 I'd searched prior issues, but should've paid more attention to pending PRs. :laughing:

[2019-05-15 19:04] angolini commented on #93
If you test, please let us know the result ;)

[2019-05-22 13:49] cpboyd commented on #93
@angolini Unfortunately, after a clean Yocto build with the `6.2.4p4.0` driver, I'm still seeing a seg fault with Xserver 1.20.1 in thud:
[code]

Is there a new version of [xf86-video-imx-vivante](https://source.codeaurora.org/external/imx/xf86-video-imx-vivante/)?  The last commit seems to be the same as is currently in `xf86-video-imx-vivante_6.2.4.p1.8.bb`

[2019-05-22 15:16] angolini commented on #93
I don't think there is a newer version. I think from this point we need to debug it

[2019-05-23 14:19] cpboyd commented on #93
@angolini Here's my logs after two separate clean Yocto builds (both with the latest Vivante driver):
[xorg1.19.log](https://github.com/Freescale/meta-freescale/files/3212484/xorg1.19.log)
[xorg1.20.log](https://github.com/Freescale/meta-freescale/files/3212485/xorg1.20.log)

A few notes:
This message appears in the working Xorg 1.19 log, but not 1.20:
[code]

In 1.20, there's a `Initializing exte

[2019-06-06 06:30] manszigher opened #109 "do_populate_sdk: No manifest generated from: lib32-alsa-lib"
Hi,

I am trying to build an SDK I suspect the same error would pop up when building an image. The problem that I am facing is that I need to include lib32-alsa-lib to my SDK but I am getting the following error

ERROR: strix-sdk-1.0-r0 do_populate_sdk: Function failed: do_populate_sdk
ERROR: Logfile of failure stored in: /home/builder/workdir/builds/imx8mm/tmp/work/imx8mm-strix-linux/strix-sdk/1.

[2019-06-06 14:18] otavio commented on #109
We need to adjust it for the target package. What branch are you using?

[2019-06-11 14:56] manszigher commented on #109
Hi,

I am using rocko. I solved it by adding the following line to our machine config

But I am not sure about this solution.

[2019-06-11 14:59] manszigher commented on #109
Could it be that there is an issue with my machine resulting in the MACHINE_SOARCH not being included in the list of pkgarcs in https://github.com/kraj/poky/blob/2b8d484f9623b9e998d642cff44c09dcf4a0b2b8/meta/lib/oe/sstatesig.py#L579?

[2019-06-13 14:31] #42 closed

[2019-06-13 14:32] angolini commented on #53
Which branch?

Would you mind testing with master?

[2019-06-18 07:16] NguyenTrongThinh opened #111 "gstreamer1.0-plugins-base 1.14.imx undefined reference to `pow@GLIBC_2.29'"
Branch: THUD
OS: Ubuntu 18.04
Machine: iMX8mq-evk

ERROR:

| /home/thinhnguyen/DATA2/EVK/Yocto/build-EVK/tmp/work/aarch64-mx8m-evk-linux/gstreamer1.0-plugins-base/1.14.imx-r0/recipe-sysroot-native/usr/bin/aarch64-evk-linux/../../libexec/aarch64-evk-linux/gcc/aarch64-evk-linux/8.2.0**/ld:** /home/thinhnguyen/DATA2/EVK/Yocto/build-evk/tmp/work/aarch64-mx8m-evk-linux/gstreamer1.0-plugins-base/1.14.im

[2019-06-19 02:51] NguyenTrongThinh commented on #53
Branch: Thud
I have not tested with master. will try

[2019-06-19 19:47] fbertux opened #115 "mesa 19.1.0 doesn't build"
Hi @thochstein!

Mesa 19.1.0 doesn't compile without adding _use-mainline-bsp_ override, it fails with error:

[code]

When using _use-mainline-bsp_ build works fine.

Thanks!

[2019-06-19 20:05] otavio commented on #115
@thochstein this is a side effect of new mesa releases.

[2019-06-22 09:05] MaxKrummenacher commented on #93
Variscite has a fix:
https://github.com/varigit/meta-variscite-fslc/commit/d51c571a44feca398cebb218cfe9c187976cb5be
which actually reverts this oe commit:
https://git.openembedded.org/openembedded-core/commit/?id=cde11398e6d74ad8f27334199b4bd99cdf1f0ff7
For me this fixes the segfault.

[2019-06-22 13:03] otavio commented on #93
@MaxKrummenacher mind to prepare a PR?

[2019-06-24 20:10] MaxKrummenacher commented on #93
Voilà!

I noticed that NXP now put the same fix into their BSP (4.19.35), so I backported from that.

[2019-06-24 20:38] cpboyd commented on #93
@MaxKrummenacher, thanks!

I hadn't kept up with Variscite's latest changes.

[2019-06-24 20:38] #93 closed

[2019-06-27 20:18] angolini commented on #111
let me test the build to try to reproduce

[2019-06-30 16:25] angolini commented on #111
I have not faced this error. I'm also using 18.04, and I set DISTRO= fslc-xwayland

Could you, please, repo sync and try again?

[2019-06-30 16:53] angolini commented on #115
Hi @fbertux can you, please, share the step-by-step to face the same error you've seen?

Which branch, and which local.conf additional line have you used?

[2019-07-01 01:31] NguyenTrongThinh commented on #111
after synchronising, I still got the same error. Which branch that you tested? thud or master?

[2019-07-01 16:45] fbertux commented on #115
Hi @angolini !

I'm using master branch with imx6qdlsabresd machine and fslc-framebuffer distro. I just run ```bitbake mesa``` and error shows up.

[2019-07-01 17:36] angolini commented on #115
Thanks @fbertux. I will work on this build tomorrow

[2019-07-02 14:25] angolini commented on #115
I have faced the very same error on my side.

[2019-07-04 06:20] NguyenTrongThinh commented on #111
Because I downgrade from Warrior to Thud so gstreamer link to glibc2.29 instead of 2.28. Delete tmp folder them rebuild solve the issues.

[2019-07-04 06:20] #111 closed

[2019-07-23 09:06] unclesav opened #135 "Got an error “Checking for program pkg-config : not found” during execution “bitbake image_name”"
I built the image with **gstreamer-imx** plugin and bitbake asked me for **imx-codec**. I found it in **meta-freescale** layer and added it into my image.

Now my **local.conf** has the next additional lines:
_IMAGE_INSTALL_append = " gstreamer1.0-plugins-imx imx-codec"
ACCEPT_FSL_EULA = "1"_

And **bblayers.conf**:
_BBLAYERS  = "\
  ${OEROOT}/../meta-gstreamer1.0 \
  ${OEROOT}/../meta-nodejs \

[2019-07-23 15:25] dv1 opened #136 "kernel-module-imx-gpu-viv compile error with gcc 9 and imx-kernel 4.14.98"
I encountered a compile error while building kernel-module-imx-gpu-viv with kernel 4.14.98 and gcc 9. Poky, meta-freescale, meta-freescape-3rdparty, meta-openembedded are all set to the master branch.

The issue is related to stricter checks in GCC 9 for attributes. These cause compiler errors.
I managed to fix this by applying two backported patches on the imx-kernel 4.14.98. The problem is that

[2019-07-23 17:49] MaxKrummenacher commented on #136
Note that the two patches are backported in v4.14.124.

08aaa79ba25b include/linux/module.h: copy __init/__exit attrs to init/cleanup_module
b00c958ceb6c Compiler Attributes: add support for __copy (gcc >= 9)

[2019-07-24 06:11] QB4-dev opened #138 "gstreamer-plugins-good_1.14.imx compilation error"
`gstreamer-plugins-good` v4l2 plugin compilation error for iMX6ULL:
[code]

[2019-07-29 11:49] dkl opened #140 "openssl-qoriq shared library packaging problems"
Hi,

The openssl-qoriq recipe puts libcrypto.so.1.1/libssl.so.1.1 into both libcrypto/libssl packages and into the openssl-qoriq-ptest package. This is a problem because Yocto detects multiple shlib providers for libcrypto.so.1.1 and libssl.so.1.1 and can end up using the wrong one as dependency for other packages using these shared libraries.

If openssl-qoriq-ptest is used as the dependency for

[2019-08-01 08:11] dkl opened #141 "ddr-phy recipe builds native fiptool during build process"
The ddr-phy recipe builds fiptool during its do_install(), and it uses the host's toolchain (not even Yocto's native toolchain). This causes unexpected host dependencies (e.g. fiptool requires openssl but this may not be installed on the host).

[2019-08-13 15:48] angolini commented on #135
I am not familiar with meta-gstreamer1.0  or meta-pythec.

Have you tried to get some support from pythec?

[2019-08-13 15:50] #136 closed

[2019-08-15 12:10] angolini commented on #138
I could build fsl-image-multimedia on master today without error.

Could you, please, elaborate what is the configuration you've been using?

[2019-08-15 17:49] #141 closed

[2019-08-23 10:22] zandrey commented on #115
Hello all!

@angolini: I've faced the same issue recently. I tried to dig it down and came to the following points below. They might be partially wrong, as I am not anywhere near to be a Mesa expert, but they seems logical to me.

- Since DRI drivers are enabled in the build, there should be a backend defined which should have those provided;
- This support is included via gallium when _use-mainli

[2019-08-23 15:06] zandrey commented on #115
@angolini: I saw that @otavio have just merged my mesa-related commit in PR #151 together with another change. This should solve the mesa build issue (at least for imx8m mini machine), but should be addressed further with Mesa experts, as the renderer is switched to swrast (software-based) which might have a performance impact.

@otavio: I'm sorry for that, didn't realize that commit would be adde

[2019-08-23 16:15] otavio commented on #115
One major issue is that NXP does not support framebuffer anymore so it is a general issue. @zandrey fixing the build is critical and the performance can be fixed next.

[2019-09-17 21:34] bacol89 commented on #53
I'm having the same problem. I tried on warrior and master branch.

[2019-10-02 09:45] tyama-zaki opened #179 "libimxdmabuffer build error"
I appended libimxdmabuffer in yocto image.

The following error occurred :

ERROR: libimxdmabuffer-1.0.0+gitAUTOINC+db17cb57d1-r0 do_install_ptest_base: Function failed: do_install_ptest_base (log file is located at /data/imx-yocto-bsp/build-xwayland/tmp/work/aarch64-mx8mm-poky-linux/libimxdmabuffer/1.0.0+gitAUTOINC+db17cb57d1-r0/temp/log.do_install_ptest_base.13630)
ERROR: Logfile of failure stor

[2019-10-06 12:20] MaxKrummenacher commented on #179
Hi

${B}/test/test-alloc is a binary providing unit tests to OE's ptest system.
It is compiled from ${S}/test/test-alloc.c, compare with https://github.com/Freescale/libimxdmabuffer/blob/master/wscript#L304

From your error output:
    | install: cannot stat '.../git/test-alloc': No such file or directory
The file should actually be taken from '.../build/test-alloc', so somehow your setup does hav

[2019-10-07 05:51] NguyenTrongThinh opened #180 "Gtk+3 got error with xwayland distro"
I use fsl-xwayland distro [here](https://github.com/Freescale/meta-freescale-distro/blob/master/conf/distro/fsl-xwayland.conf). I bitbake core-image-sato but I got error while building matchbox-panel

configure: WARNING: using cross tools not prefixed with host triplet
checking pkg-config is at least version 0.9.0... yes
checking for MATCHBOX_PANEL... no
configure: error: Package requirements (gli

[2019-10-14 16:11] agherzan opened #184 "DP/eDP port support on imx8mq"
I saw that the current kernel revision for imx8mq seems to have support for DP in `imx-hdp` driver. There is also a dp/edp device tree. Have you guys ever tested anything in that regard? I was looking for a board with DP but couldn't find any.

[2019-10-23 13:40] cpboyd opened #187 "qtbase: update patches"
Originally filed as #42, which was closed without comment.

0016-Configure-eglfs-with-egl-pkg-config.patch hasn't been needed since Qt v5.9:
https://github.com/qt/qtbase/commit/e9a7739e77f79baeb5452189b6d17e63de5b341d

In Yocto Warrior and Zeus, this causes a fuzz warning:
[code]

[2019-10-23 13:48] otavio commented on #187
Mind to prepare a PR fixing this?

[2019-10-23 13:52] cpboyd commented on #187
@otavio Sure.  Do I need to submit two separate ones for `master` and `warrior` branches?

[2019-10-23 13:58] otavio commented on #187
Prepare for master; then we make a new one for warrior once it is merged.

[2019-10-23 21:14] #187 closed

[2019-11-03 09:56] dv1 opened #192 "kernel-module-imx-gpu-viv compile error with Yocto Zeus"
The same problem from https://github.com/Freescale/meta-freescale/issues/136 also appears when trying to build kernel-module-imx-gpu-viv Yocto Zeus:

    | In file included from poky/build/tmp/work/imx6qdlsabresd-poky-linux-gnueabi/kernel-module-imx-gpu-viv/6.2.4.p4.0-r0/git/src/hal/os/linux/kernel/gc_hal_kernel_linux.h:61,
    |                  from poky/build/tmp/work/imx6qdlsabresd-poky-linux-

[2019-11-04 11:37] otavio commented on #192
@thochstein mind to take a look?

[2019-11-04 16:52] thochstein commented on #192
Will do.

[2019-11-14 21:45] thochstein commented on #192
Sorry, I got pulled away from this. What kernel are you building? I'm not able to duplicate this building with linux-imx_4.14.98.

[2019-11-15 00:58] thochstein commented on #192
Note @otavio , the issue was reported against zeus. Will you handle that? Or do you want me to cherry pick?

[2019-11-18 17:43] #192 closed

[2019-11-19 19:13] zandrey commented on #192
Hello guys!

Those patches are actually came into v4.4.188: [fe5844365ec6c4d61838f289926f4d55da94d2fb ](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/patch/?id=fe5844365ec6c4d61838f289926f4d55da94d2fb) and [2c34c215c1028f971af7cf8189c4f6237afdb90b](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/patch/?id=2c34c215c1028f971af7cf8189c4f6237afdb90b)

@thochstein I

[2019-11-19 19:16] zandrey commented on #192
For sure I meant 4.9.188! Links pointing to correct patches.

[2019-11-19 21:02] thochstein commented on #192
Sounds good to me. Thanks @zandrey!

[2019-12-04 20:56] QB4-dev commented on #138
Sorry for late answer.
I was using weird custom distro probably forcing to use vivante GPU which is not present in iMX6ULL.
All bulids now without errors with fsl-image-multimedia from meta-freescale-distro

[2019-12-04 20:56] #138 closed

[2019-12-13 17:01] rehsack opened #229 "Revert "linux-qoriq recipes: reorder merge_delta_config task""
6e0b6f unfortunately causes a blank build for e.g. ls2088ardb fail as that:

[code]

This is caused by do_preconfigure() from classes/fsl-kernel-localversion.bbclass expects a ${WORKDIR}/defconfig which was earlier created by merge_delta_config.

I have no idea what linux-variscite is which @zpfvo has problems with, but I think we should find a better solution.

It seems, that preconfigure has to

[2019-12-13 17:21] otavio commented on #229
Please send a PR for it, so we merge it.

[2019-12-13 20:52] rehsack commented on #229
I was unsure whether immediately revert is best reaction. I wanted @zpfvo having a chance to jump in ;)
I can send PR in 2-3 days anyway ;)

[2019-12-15 10:00] zpfvo commented on #229
Hi,

please revert if there are problems. The recipe from variscite I was
referring to is here:
https://github.com/varigit/meta-variscite-fslc/blob/thud/recipes-kernel/linux/linux-variscite_4.14.78.bb
.

Ill try to figure it out why this is working for me. Its totally possible
that the error is caused by the adaption of variscite and does not lie
within this layer.

Am Fr., 13. Dez. 2019 um 21:52

[2019-12-16 21:01] #229 closed

[2019-12-19 12:45] zandrey opened #242 "Weston does not start after upgrade (imx8mmevk machine with 4.19.y kernel)"
Duplicating the original thread from _meta-freescale_ yocto mailing list:

After the recent upgrade of Weston (commit: a4fdb4074644bda09b46490163886065b4c00aab) I started to receive the error from G2D on i.MX8M Mini at the start with following output:
[code]

If the G2D support is disabled in the _/etc/xdg/weston/weston.ini_ by commenting the line:
`#use-g2d=1`

then Weston falls back to use the G

[2019-12-19 13:38] zandrey commented on #242
Some additional Weston logging information from the image built from `zeus` branch:
[code]

Here is could be seen that Weston is starting perfectly fine.

[2019-12-19 14:29] zandrey commented on #242
Some more information:

I've ran G2D test application provided by `imx-gpu-g2d` and it is also appears to be broken. The result of execution of `/opt/g2d_samples/g2d_test` is:
[code]

It seems to me that commit f4d05aa18c0192fea2eef3fbfb3390bdb5033c64 brought a faulty version of G2D, which in turn breaks the Weston by failing to initialize.

Since the `imx-gpu-g2d` is a binary package - there is n

[2019-12-19 16:37] mihaix commented on #242
@zandrey thanks for the details. I'm working on upgrading the recipe for imx-gpu-viv, meanwhile, can you give it a try? See my fork.

[2019-12-19 19:53] MaxKrummenacher opened #243 "gstreamer1.0-plugins-imx fails to build on latest master."
@dv1, @otavio

Hi

gstreamer1.0-plugins-imx is built with waf which requires a native python2 binary.

openembedded core recently dropped python2 as part of the host-tools which are available by default and thus gstreamer1.0-plugins-imx and friends fails to configure.

I sent merge requests to the relevant projects Freescale/gstreamer-imx, Freescale/libimxvpuapi, Freescale/libimxdmabuffer and I in

[2019-12-20 16:14] zandrey commented on #242
@mihaix thanks for the update!

I've tried your fork and it looks like Weston and G2D are fully operable!

I've seen that the difference is only 2 commits [fae1d46f and 9ce3a55e] from the `master` of your fork; the rest looks aligned with `master` branch of `meta-freescale`.

There is a QA hiccup in your fork that should be addressed:
[code]

For my personal build to run through, I've patched it w

[2019-12-20 17:55] mihaix commented on #242
Thank you for the update, that's great!
You're right, that's not a pretty way of fixing those QA issues, I've seen those later and was still working on them. I've updated the commit, it should be fine now. There were newly added libraries that were not covered in any of the packages and ended up in imx-gpu-viv-dev, which led to the dev-deps QA issue.

Thanks,
-- Mihai

[2019-12-20 19:41] zandrey commented on #242
Thanks for solving this issue pretty quick! :)

True, this totally slipped my mind: this is actually a default behavior. If nothing consumes files - they are landing in `-dev` package and leading to QA Error afterwards. I'd note this for myself for the future.

Anyways, I guess once the PR would come - this issue can be closed.

-- andrey

[2019-12-23 17:10] zandrey commented on #242
Hello all,

I've tested the latest `master` and with PR #249 this issue is resolved, Weston is fully operable.

Thanks for taking care of this.

-- andrey

[2019-12-23 17:10] #242 closed

[2020-01-06 14:38] zandrey opened #253 "imx8m Nano: missing machine description"
Hello all,

I've started to work on the build for i.MX8M Nano CPU and found out that actually the `master` branch has a machine definition missing.

There are binaries available from NXP website, which could be obtained under the [Linux Binary Demo Files - i.MX 8M Nano EVK](https://www.nxp.com/webapp/Download?colCode=L4.14.98_2.2.0_MX8MN&appType=license) and it looks like the image is based on the

[2020-01-06 16:27] otavio commented on #253
You could possibly send your draft and then we mark @thochstein on the issue, so he can comment on it and we can them upstream it.

[2020-01-06 16:41] zandrey commented on #253
@otavio That would be great! I'd prepare a PR then in my fork to link it here.

[2020-01-06 16:46] otavio commented on #253
Cool. Thanks for the help.

[2020-01-06 16:54] mihaix commented on #253
CC: @panfir

@zandrey machine conf for _imx8mnevk_ is available in _meta-fsl-bsp-release_ [1] layer, it needs to be pulled in and adapted here.

[1] https://source.codeaurora.org/external/imx/meta-fsl-bsp-release/tree/imx/meta-bsp/conf/machine/imx8mnevk.conf?h=warrior-4.19.35-1.1.0

[2020-01-06 17:19] zandrey commented on #253
@mihaix Thanks for your clarification here! I've not seen your comments and already came up with the PR #254 here.

@otavio Can you please hold off the #254? I'd have a look at what is available at the link @mihaix provided above and would amend the PR accordingly.

Thank you all for such a prompt support!

-- andrey

[2020-01-07 07:01] zandrey commented on #253
Hello all,
PR #254 is updated and boot issue is solved now. Once it is merged - this issue could be closed.

-- andrey

[2020-01-07 10:46] cyrilfr opened #256 "X11: Segmentation fault at address 0x4"
I still experiment #93 on `thud` with x11-base IMAGE_FEATURE on a UDOO Neo iMX6 at startup.
I plan to run the [Electron](https://electronjs.org/) framework on the [official st1232 7'' touchscreen kit for UDOO Neo](https://www.udoo.org/docs/Hardware_&_Accessories/UDOO_LVDS_Panels.html).

**/etc/X11/xorg.conf:**
[code]

**/var/log/Xorg.0.log:**
[code]
Output of Valgrind:
[code]

[2020-01-08 19:09] #243 closed

[2020-01-09 08:09] #253 closed

[2020-01-24 09:31] zandrey opened #272 "gstreamer build failures with upstream (meson migration)"
Latest gstreamer in oe-core has switched from autotools to meson build, therefore Freescale fork is not compatible anymore and build fails.

I've entered this issue here just for tracking, I'm currently updating gstreamer in my fork to work with meson. So far, I was able to update `-base` with `-good` and `-bad` on the way.

If anyone else is working on this - please log the state here, we might t

[2020-01-26 22:23] zandrey commented on #272
I've created PR #274 which resolves gstreamer1.0 build issues. All `-base` `-good` and `-bad` plugins could be built with previously defined package configs.

-- andrey

[2020-02-11 18:06] twoerner opened #280 "u-boot-fslc fails for imx5 machines"
building on master:

        Build Configuration:
        BB_VERSION           = "1.44.0"
        BUILD_SYS            = "x86_64-linux"
        NATIVELSBSTRING      = "opensuseleap-15.1"
        TARGET_SYS           = "arm-oe-linux-gnueabi"
        MACHINE              = "imx53qsb"
        DISTRO               = "nodistro"
        DISTRO_VERSION       = "nodistro.0"
        TUNE_FEATURES        =

[2020-02-11 18:08] twoerner commented on #280
ps I'm also seeing this with imx233-olinuxino-maxi (meta-freescale-3rdparty)

[2020-02-11 18:31] texierp commented on #280
Hi @twoerner,

Seems related to this commit in oe-core http://cgit.openembedded.org/openembedded-core/commit/meta/recipes-bsp/u-boot?h=master-next&id=26023b6b0f897842fd98b3e10a8acd5b3ad8f418

[2020-02-11 18:39] otavio commented on #280
You seem right @texierp. @twoerner can you take a look how we can make a generic fix?

[2020-02-11 19:42] twoerner commented on #280
okay. i'm looking at it now

[2020-02-13 15:29] fschrempf commented on #115
Actually Etnaviv+Gallium seems to work for i.MX8MM with a mainline BSP, but the change mentioned above makes it impossible to reenable the Gallium drivers in another bbappend. I therefore changed this to make it possible to switch back to the previous implementation if needed. See https://github.com/Freescale/meta-freescale/pull/287.

[2020-02-17 13:48] cyrilfr commented on #256
UP!

[2020-02-29 15:21] emantec1 opened #292 "libdrm is broken"
The codeaurora.org git appears to no longer be available resulting in building libdrm to fail

ERROR: libdrm-2.4.91.imx-r0 do_fetch: Fetcher failure for URL: 'git://source.codeaurora.org/external/imx/libdrm-imx.git;protocol=https;branch=libdrm-imx-2.4.91'. Unable to fetch URL from any source.
ERROR: libdrm-2.4.91.imx-r0 do_fetch: Function failed: base_do_fetch

[2020-03-02 14:24] mihaix commented on #292
It's there. Try checking your network connection / proxy settings.
Or try again maybe it was some temporary downtime on codeaurora.

[2020-03-04 15:33] zandrey commented on #272
The PR #274 has been merged, so this issue can be closed.

If someone would experience are any additional issues related to the GStreamer migration to meson - please feel free to re-open this issue.

-- andrey

[2020-03-06 12:54] cyrilfr commented on #256
According to [this thread](https://community.nxp.com/thread/526149), the imx-gpu-viv 6.2.4 driver must be avoided. Is there a way to use imx-gpu-viv 5.0.11 instead on thud?

[2020-04-01 07:21] nicola-lunghi opened #316 "build fails on master after commit split out u-boot tools"
after commit dad59d2dd0bb42ca5a8c3c1c697c3576b76d334c and 24f414f37128b5c23b93bbe35a2eb20163988325 the build fails

bitbake core-image-minimal
ERROR: ParseError at /home/user/build/proj/newgw/meta-freescale/recipes-bsp/u-boot/u-boot-imx-tools_2019.04.bb:1: Could not include required file recipes-bsp/u-boot/u-boot-tools.inc

[2020-04-01 11:46] otavio commented on #316
You're likely using master branch with other OE-Core branches. What are your branches?

[2020-04-01 16:04] nicola-lunghi commented on #316
yes sorry you are probably right I'll double check with the latest master

[2020-04-02 22:59] Christian-Prather opened #320 "Error: OpenCl support on imx8mq processor with vivante GPU"
Hello, we are currently working on a project that requires GPU parallel processing on an **imx8mq** processor with a **vivante** GPU. We have tried building for the imx8 evaluation kit as well as for our own carrier board and were unable to successfully get OpenCl to populate onto the build. We were able to get OpenCv however when attempting to detect OpenCl it was not on the image. We also compil

[2020-04-03 11:43] otavio commented on #320
@thochstein please take a look.

[2020-04-03 15:36] zandrey commented on #316
@otavio, I have the same issue with building `u-boot-imx` from master of _oe-core_ and _meta-freescale_

Following are the errors I get from build:
[code]

This has been caused by your commit [4882a93566f2ef24787777d33950f12a9cc5db4e](https://git.yoctoproject.org/cgit.cgi/poky/commit/?id=4882a93566f2ef24787777d33950f12a9cc5db4e) on `master`. If reverted - the build runs through.

Can you suggest w

[2020-04-03 16:35] otavio commented on #316
This is not the same issue.

This seems to be due to `u-boot-imx` fork to not provide this target.

Checking the source this target was introduced on 2019.07.

Please apply this and see if it works: https://github.com/u-boot/u-boot/commit/bdaa73a5b392.patch

If it does, prepare a PR with it please.

[2020-04-03 17:17] zandrey commented on #316
@otavio Great catch! 😉 I've applied the patch, and the build now succeeds!

PR is on the way.

-- andrey

[2020-04-03 17:41] nicola-lunghi commented on #316
Yes thanks build with latest poky

[2020-04-03 17:41] #316 closed

[2020-04-03 17:43] thochstein commented on #320
Hi @Christian-Prather, probably the image you create does not contain any apps that depend on OpenCL. You can add it explicitly from `local.conf`:

`IMAGE_INSTALL_append = " libopencl-imx"`

That won't be necessary if you want to configure OpenCV with OpenCL support. I was able to build opencv after adding this to `local.conf`:

[code]

[2020-04-09 17:12] Christian-Prather commented on #320
Thank you this seemed to do the trick!

[2020-04-10 19:52] #320 closed

[2020-04-10 20:00] thochstein commented on #320
Hey, glad it worked!

[2020-04-12 19:56] mirzak opened #331 "iMX8MQ based board stopped booting the Linux kernel on zeus"
I noticed that my iMX8MQ based board stopped booting the Linux kernel on zeus branch after #326 was merged.

The error I see during boot is the following:

[code]

[2020-04-12 20:07] mirzak commented on #331
Isolated to the following commit: https://github.com/Freescale/meta-freescale/commit/54d14f17ebd961dc7cb9ef89b76613218fb7562d

[2020-04-12 20:08] mirzak commented on #331
My build configuration,

[code]

[2020-04-12 20:16] otavio commented on #331
@chrisdimich any idea?

[2020-04-12 23:55] chrisdimich commented on #331
We tested on Nitrogen8M which is iMX8MQ based and we do not see this issue.

[2020-04-13 00:33] otavio commented on #331
@chrisdimich please help on this as this is a regression of a previously working device. Maybe there is a required change on U-Boot or Linux?

[2020-04-13 00:36] chrisdimich commented on #331
Sure, we will look at this first thing tomorrow. Again, our validation was obviously using our own Nitrogen boards, so we did not see this issue.

[2020-04-13 12:49] mirzak commented on #331
I can confirm that I was able to reproduce this on the [imx8mqevk](https://github.com/Freescale/meta-freescale/blob/master/conf/machine/imx8mqevk.conf) target as well.

[2020-04-13 13:01] otavio commented on #331
@chrisdimich @gibsson please take a look. I wonder how your board is working, have you guys added any change?

[2020-04-13 13:17] gibsson commented on #331
My suspicion is that ATF has changed his way of doing IRQs in 4.19.
Most likely @chrisdimich didn't update U-Boot from the image. If you keep the U-Boot from before, it will work.
Since U-Boot is in the fastboot partition in our case, you can flash the image without affecting U-Boot nor need to update it.
@mirzak , first can you confirm that you updated U-Boot after flashing the image on Nitrogen8

[2020-04-13 13:20] mirzak commented on #331
I do not have a Nitrogen8M board, I have tested on imx8mqevk. I can confirm that I flash U-Boot as I am I am booting from SD card and using the wic image to flash it, e.g

[code]

[2020-04-13 13:26] gibsson commented on #331
Oh sorry I thought you saw that issue on Nitrogen8M at first, no problem.
So yeah it seems you can't mix 4.19 atf with older kernels, nice.
I'll let @chrisdimich decide what he wants to do for nano but I'd suggest reverting both ATF and OPTEE updates in zeus. Sorry for the inconvenience.

[2020-04-13 13:27] otavio commented on #331
@chrisdimich please send the reverts.

[2020-04-13 17:12] chrisdimich commented on #331
Sure will do and as Gary mentioned we will just remove bootloader from nano conf for now.

[2020-04-13 19:56] chrisdimich commented on #331
Reverted and sent PR #332

[2020-04-13 19:58] otavio commented on #331
Fixed in #332.

[2020-04-13 19:58] #331 closed

[2020-04-14 07:16] cyrilfr opened #334 "cairo doesn't compile"
cairo doesn't compile on "master". The do_compile task gives an error:

[code]

[2020-04-14 11:35] zandrey commented on #334
`cairo` on oe-core *master* is at version `1.16.0`:
[code]

From your log, looks like you're trying to build old version (`1.14.12`), which is not `master` branch.

Can you share your build information?

-- andrey

[2020-04-14 11:45] cyrilfr commented on #334
I'm currently on `thud` in poky. What I've seen is that the pre-built libGAL.so file in imx-gpu-viv has been compiled with glibc 2.29 (and newer??) as dependency (using `readelf`). Poky in `thud` uses glibc 2.28.

I try to build using master because X11 crashes in thud. Maybe my strategy is wrong. I've seen that [this commit](https://github.com/Freescale/meta-freescale/commit/b504c047698c4b74a859c

[2020-04-14 11:48] zandrey commented on #334
In this case you should try to build the entire image of `master` branch (including *poky*). I've just tried it for `imx8mmevk` machine and *cairo* builds just fine.

-- andrey

[2020-04-14 11:49] cyrilfr commented on #334
I plan to upgrade systems already running images from `thud`. This is not possible.

[2020-04-15 07:55] cyrilfr commented on #256
I applied [this patch](https://github.com/Freescale/meta-freescale/commit/b504c047698c4b74a859c5f23d654f348449c179) and now it works.

[2020-04-15 11:45] otavio commented on #256
@cyrilfr please open a PR applying b504c047698c4b74a859c5f23d654f348449c179 to thud, so we can close this issue.

[2020-04-15 12:41] cyrilfr commented on #334
Please close this issue.

[2020-04-15 12:49] #334 closed

[2020-04-15 12:50] zandrey commented on #334
@cyrilfr Have you found a solution? If you did - can you please share a brief here, so others who might have the same trouble can refer here.

You can do it yourself, but you've already figured it out. 😉

[2020-04-15 13:00] cyrilfr commented on #334
I just moved back to `thud` and added a `xserver-xorg_%.bbappend` file to my machine layer.
[code]
and added [this patch](https://github.com/Freescale/meta-freescale/commit/b504c047698c4b74a859c5f23d654f348449c179) to the recipe files in `xserver-xorg` directory (like in meta-freescale `master`).

Having both poky and meta-freescale on `thud` makes glibc version fits the requirements for cairo and

[2020-04-15 13:00] otavio commented on #334
@zandrey he did find the commit to backport. He mentioned it on #256. I asked him to prepare a PR with the backport fix.

[2020-04-15 13:05] cyrilfr commented on #256
I'll do it as soon as possible :)
However, it does fix the segmentation fault and display something but my st1232 7'' touchscreen touch events doesn't work.

[2020-04-15 13:16] otavio commented on #256
This is another issue. So fix one at the time.

[2020-04-15 15:09] #256 closed

[2020-04-17 14:31] thochstein opened #349 "Integrate i.MX release L5.4.3-1.0.0"

[2020-04-17 14:33] thochstein commented on #349
I'm working on recipes-graphics.

[2020-04-17 15:04] otavio commented on #349
@thochstein good; please send PRs as soon as something is read.
@zandrey what are you working on now?
@panfir and you?

[2020-04-17 19:16] zandrey commented on #349
I was playing with the `linux-fslc` repo and wanted to try out the `5.4.3-1.0.0-imx` branch on the `imx8mmevk` machine. If it turns out to be OK - I would come up with the recipe to pull this kernel into the layer (in addition to official from NXP).

@thochstein are you planning to upgrade the ` meta-freescale-distro/recipes-graphics/imx-gpu-sdk/imx-gpu-sdk_5.0.2.bb` as well? I saw that there is a

[2020-04-17 19:37] otavio commented on #349
Please do; looking forward to it.

Kind of. The `linux-imx-headers` do not need to be bumped every time Linux does. Doing so would cause all the recipes to rebuild and if the API/ABI did not change it is not need.

For now, we could use the branch tip so we pick fixes NXP did after their GA release.

[2020-04-17 19:44] thochstein commented on #349
Good point, I updated my comment above to be more specific. If you want to take it, just update the ticket that you will take it? If you don't take it I will do the same if/when I am ready to work on it?

[2020-04-17 20:02] zandrey commented on #349
Agree. The only thing would be to track changes in ABI/API in this case, but at this point it should be the same. It might deviate later in the future, but with NXP kernel I assume it would stay stable since there are no updates planned.

My major concern was actually about the `kernel-module-imx-gpu-viv_6.4.0.p2.0.bb`. It is built from the same kernel repo, but uses a different commit. I had a lo

[2020-04-17 20:05] zandrey commented on #349
I guess I would deal with it after the validation of `linux-fslc` repo. I would leave this point open for the moment, as I don't know when I would come to it, but chances are I'll do it early next week. 😉

-- andrey

[2020-04-17 21:07] thochstein commented on #349
I didn't like the extra maintenance of maintaining a separate kernel module repo, and so updated our recipe to grab the correct sub-tree of the linux source itself. We update `kernel-module-imx-gpu-viv_6.4.0.p2.0.bb` iff the relevant sub-tree changes, hence the different SHA.

As far as I know it has worked for us, but maybe we have been getting lucky, as I wasn't aware that the commit SHA might c

[2020-04-17 21:32] zandrey commented on #349
I've just double-checked the source tree diff between kernel and module commits, and in this case it should be fine, no random luck involved. 😄

If you ask me personally, I would have the following logical chain:

Normally, SHA would not cause any damage - it is more a question of consistency that kernel itself and module are produced from the same source tree using the same SHA. Later during upgr

[2020-04-18 15:32] thochstein commented on #349
Right, or you can do the same thing we do which is to just check the SHA of the base of the interface.

So, we limit SHA updates on our side just to limit rebuilds to only interface changes and not all kernel changes. At the point of upstreaming this is not so important, and we can choose to just sync them. A note in the recipe would make this clear.

[2020-04-18 19:04] thochstein commented on #349
We upgraded `imx-gpu-apitrace` to 8.0, but the (huge) python 3 patchset that @zandrey did doesn't work on it. We have 9.0 in our trunk, which is the version that adds python 3, and so were thinking to upstream that instead. Prabhu says it should be fine. It's okay?

[2020-04-18 20:15] zandrey commented on #349
As far as I remember, I took those patches from the `python3` branch of the official [aiptrace](https://github.com/apitrace/apitrace) repo. According to [tag compare](https://github.com/apitrace/apitrace/compare/8.0...9.0) those patches were applied immediately on top of release 8.0, so they should be OK... 😕 What is the issue with the patch set? Does it not applies? Or the *apitrace* is broken?

[2020-04-18 21:03] otavio commented on #349
Yes version 9.0 is fine @thochstein please go for it.

[2020-04-20 15:07] CarolZhuYuqing commented on #349
Hi Otavio,
I am working on imx vpu/codec/parser/vpuwrap.

[2020-04-22 09:22] panfir commented on #349
I'm working on jailhouse, xen, m4

[2020-04-22 11:05] schiffermtq opened #360 "dp-firmware-cadence: fetch fails after #293"
`dp-firmware-cadence` inherits `fsl-eula-unpack`, but LICENSE is set to "NXP-Binary-EULA", not "Proprietary", triggering the check introduced by #293.

This affects at least `master` and `zeus`.

[2020-04-22 11:27] otavio commented on #360
Can you do a PR for master? once we merge it, we can do a backport PR.

[2020-04-22 11:43] zeeblex commented on #349
Working on imx-kobs

[2020-04-22 12:32] schiffermtq commented on #360
What is the intended solution here, which license is the correct one?

[2020-04-22 12:39] otavio commented on #360
it is Proprietary.

[2020-04-22 13:02] #360 closed

[2020-04-22 13:04] otavio commented on #292
It seems no one complained anymore, closing it.

[2020-04-22 13:05] otavio commented on #280
This was already fixed. Closing...

[2020-04-22 13:05] #280 closed

[2020-04-22 13:06] otavio commented on #184
We did not. @thochstein is NXP aware of any?

[2020-04-22 19:33] otavio commented on #179
@dv1 please take a look.

[2020-04-23 11:37] otavio commented on #140
@guochunrong please check this.

[2020-04-23 11:39] otavio commented on #115
Seems all good now, closing this.

[2020-04-23 11:39] #115 closed

[2020-04-23 11:40] otavio commented on #135
Not related here, closing the issues.

[2020-04-23 11:40] #135 closed

[2020-04-23 11:41] otavio commented on #55
We have a new 5.4 mainline kernel, please try and reopen if it still persists.

[2020-04-23 11:41] #55 closed

[2020-04-23 12:05] zeeblex commented on #349
Working on imx-mkimage. Will switch branch to imx_5.4.3_2.0.0 latest commit.

[2020-04-23 13:48] zandrey commented on #349
Please use `lf-5.4.y` branch instead, release *2.0.0* is not yet ready and out of scope of this upgrade.

[2020-04-27 07:22] antznin opened #372 "optee-os do_package failure"
Hi,

I'm getting an error when building `optee-os-3.2.0.imx-r0` on **zeus** with the **imx8mqevk**:
[code]

I managed to fix the issue by replacing these two lines :
[code]
by
[code]

Please feel free to correct me or to ask for any additional information regarding the issue.

[2020-04-29 13:43] thochstein commented on #184
We're working on a possibility. @agherzan, in the meantime please let us know if your status changes.

[2020-04-29 13:50] agherzan commented on #184
Since our initial request, we switched to HDMI for the time being but we are interested if that would be a possible in the future.

[2020-04-30 19:33] cpboyd opened #378 "bug(dunfell): MACHINEOVERRIDES change breaks qtbase (and probably more)"
I think this might be related to https://github.com/Freescale/meta-freescale/commit/341ba18eccc7703eb5ac23dc900b3bf087d3be20

Basically, I've noticed that in my configuration, it adds `-opengl desktop` rather than `-opengl egl` which throws a configuration error.

[2020-04-30 22:41] cpboyd commented on #378
After further inspection, the real issue lies with changes to `MACHINEOVERRIDES` https://github.com/Freescale/meta-freescale/blob/dunfell/conf/machine/include/imx-base.inc#L23

Possibly because of the old line related to the `use-mainline-bsp`: https://github.com/Freescale/meta-freescale/blob/dunfell/conf/machine/include/imx-base.inc#L109

[2020-04-30 22:45] cpboyd commented on #378
Probably related to #86

May make more sense to modify `MACHINEOVERRIDES_EXTENDER_FILTER_OUT` than to revert the base `MACHINEOVERRIDES` addition of `use-mainline-bsp`, but I'm not familiar with how the `machine-overrides-extender` works

[2020-04-30 23:22] otavio commented on #378
It does not seem to be the case. I did:

[code]

and more specifically:

[code]

and as expected, below is for mainline:

[code]

What layers do you have included and what distro are you using?

[2020-05-01 03:50] cpboyd commented on #378
@otavio I've been using a BSP based upon the imx6qdlsabreauto/imx6qdlsabresd.

Prior to dunfell, qtbase would build properly.

If you try to build qtbase with framebuffer support (i.e. without X11 or Wayland), the `do_configure` step will fail as PACKAGECONFIG_GL returns gl which corresponds to `-opengl desktop`.

This also seems to prevent using the `imx-gpu-viv` with the "mainline" BSPs. Is that

[2020-05-01 04:03] otavio commented on #378
Yes, as we default to mainline there. If desired, you can set the BSP to NXP and return to old behavior.

Qt failed to build?

[2020-05-01 04:21] cpboyd commented on #378
@otavio Yes, Qt fails to build. As noted in #86 previously, the `use-mainline-bsp` filters out `mx6`, `mx6q`, `mx6dl`, etc.

Prior to this change to MACHINEOVERRIDES, `use-mainline-bsp` was only set for specific chipsets, so I guess the `MACHINEOVERRIDES_EXTENDER_FILTER_OUT` wasn't such an issue.

[2020-05-02 10:45] schnitzeltony commented on #378
Will give dunfell a build and see what happens - wanted to lift our builds anyway. May take a bit.

[2020-05-05 11:51] #378 closed

[2020-05-05 14:44] zeeblex commented on #349
@otavio this means we need to rework the imx-kobs and imx-mkimage to 1.0.0 release(as initially discussed)

[2020-05-05 17:31] zandrey commented on #349
@thochstein @otavio I've opened a PR #386 with the introduction of new consolidated kernel recipe, and also inheritance on `kernel-yocto` class so we can use config fragment, *scc* files and kernel sanity checks.

I queued it up against `master-next` as the change is pretty intrusive. 😄

Can you please take a look at it and give your feedback?

Thanks a lot!

-- andrey

[2020-05-06 18:54] otavio commented on #372
This was fixed on #373.

[2020-05-06 18:54] #372 closed

[2020-05-06 18:55] otavio commented on #180
You can use XWayland but GTK would use Wayland.

[2020-05-06 18:55] #180 closed

[2020-05-06 18:57] dv1 commented on #179
Please retry. I completely reworked the way ptest is implemented.

[2020-05-06 19:07] otavio commented on #179
I think we can close this as it is inactive for a while. If happens again we can reopen.

[2020-05-06 19:07] #179 closed

[2020-05-06 19:08] otavio commented on #109
Inactive, closing.

[2020-05-06 19:08] #109 closed

[2020-05-06 19:09] otavio commented on #140
@dkl we did merge a lot of changes on dunfell, please take a look and reopen if need.

[2020-05-06 19:09] #140 closed

[2020-05-06 22:20] kevswims opened #389 "Weird behavior using menuconfig with configuration fragments"
I am trying to use the new support for configuration fragments that was introduced in https://github.com/Freescale/meta-freescale/pull/386. I am following the instructions from the kernel-dev manual here: https://www.yoctoproject.org/docs/latest/kernel-dev/kernel-dev.html#creating-config-fragments to create configuration fragments. I have run the `kernel_configme` step, run the `menuconfig` step a

[2020-05-06 23:40] otavio commented on #389
You need to make multiple configuration fragments, for individual change/feature.

[2020-05-07 02:21] kevswims commented on #389
That's what I was trying to do. The issue I am having is that the changes from the first one are not reflected in menuconfig when I am working on the second one.

Somewhat unrelated to my initial issue. It's really difficult to make a slimmed down kernel based on the default defconfig because the default one contains so many selections that are not applicable to the hardware. It seems a little odd

[2020-05-07 11:12] zandrey commented on #389
Have you tried to generate first fragment, include it via `SRC_URI` and do a clean build? `menuconfig` together with `kernel_configme` is (from what I understand) brings the kernel to a known state which is the *defconfig* one.

This actually ensures that consecutive fragments would not include modifications introduced by already existing ones, hence the point from @otavio above is totally valid:

[2020-05-07 11:26] otavio commented on #389
We can certainly work on a strimmed down defconfig but it needs to be done on our fork. And then we can send the patches to NXP.

[2020-05-08 16:46] dkl commented on #140
OK, I will keep an eye on this, especially when upgrading to dunfell.

[2020-05-08 22:29] kevswims commented on #389
@zandrey

This is exactly what I have tried to do. I have a config fragment that I created and added it to the `SRC_URI` in my BSP layer. I have verified that when I build the full kernel the configs set in it are correct. When I go back to make more changes I have run `do_clean`, `kernel_configme` and `menuconfig` it is not showing any of those config changes that I made in the config fragment.

[2020-05-18 12:58] dv1 opened #405 "linux-imx-headers header files do not get added to Yocto SDKs"
I tried this with current master:

    MACHINE=imx8mmevk bitbake -c populate_sdk core-image-weston

The produced SDK did not contain the headers from linux-imx-headers, even though it is listed in the `RDEPENDS` list. I even tried to explicitely append linux-imx-headers to `TOOLCHAIN_TARGET_TASK`, and still, nothing.

[2020-05-18 15:47] zandrey commented on #405
@dv1 Do you see the same on `zeus` or only on `master`?

[2020-05-18 22:16] zandrey commented on #405
OK, I guess I've nailed it down.

I dropped `ALLOW_EMPTY_${PN} = "1"` in commit 824690b0cba597a943d883b72d26b968ff508ded, which caused all headers to land in `-dev` package. 🤦

I'll have it tested and make a PR. Sorry for that.

-- andrey

[2020-05-19 21:30] zandrey commented on #405
It seems that the missing headers is more complex that I've imagined... 😞 I guess I would need a bit of advise here.

Adding `ALLOW_EMPTY_${PN} = "1"` does not solve the package generation, all headers are still landing in `-dev` package. Adding `BBCLASSEXTEND = "nativesdk"` also does not solve it.

@otavio Is it possible the `use-imx-headers` class does something which prevents those headers to b

[2020-05-19 21:57] zandrey opened #407 "[RFC]: optee-os build is broken with gcc10"
Currently, the build of `optee-os` breaks on `master` which is relateed to the gcc10 upgrade. Following build error is reported:

[code]
There is a potential fix for this issue to add ` -mno-outline-atomics` to `CFLAGS` in `do_compile` task, which solves the build issue.

It has been discussed in [OE-Core mailing list](https://lists.openembedded.org/g/openembedded-core/message/138437) and the conc

[2020-05-19 22:12] otavio commented on #405
I think you are looking the issue from the wrong perspective. I think you need to add a depedency to the dev of the package using the use-imx-headers so it adds the linux-imx-headers-dev so the image installs it if needed.

[2020-05-22 21:27] zandrey commented on #407
This fix looks pretty solid, as there a is a PR in `optee-os` upstream: [3874](https://github.com/OP-TEE/optee_os/pull/3874)

Once it get's merged - I'll backport that patch and put it in the layer here.

For the time being and those who suffers from failed build - please use the WA from the issue description.

-- andrey

[2020-05-26 22:19] otavio commented on #405
This has been fixed on #409. Closing.

[2020-05-26 22:19] #405 closed

[2020-05-29 14:29] thochstein commented on #349
Working on `qtbase`.

[2020-06-10 19:19] QB4-dev opened #432 "[dunfell] IMX6ULL machine problem - imx6ullevk (not in COMPATIBLE_MACHINE)"
Hello @otavio
I'm trying to build core-image-minimal for imx6ullevk. Bitbake always tells that this machine is not in COMPATIBLE_MACHINE

[code]
My layers setup:
[code]
I think it is related with MACHINEOVERRIDES env variable
`bitbake -e | grep MACHINEOVERRIDES` output:

[code]
Or in short form:
`bitbake -e | grep MACHINEOVERRIDES=`

[code]
I think that `MACHINEOVERRIDES_EXTENDER_FILTER_OUT_use-ma

[2020-06-11 06:32] QB4-dev commented on #432
@otavio it builds now but with `linux-fslc` and I am losing imx specific features support like for example PXP engine supported in `linux-imx` flavour.

To summarize:
Now to use `linux-imx` I should set this variable to:
`IMX_DEFAULT_BSP = "nxp"`
and set preferred providers to '-imx'
[code]
otherwise Yocto will use linux-fslc kernel by default

I am not sure if it is right answer(because not all f

[2020-06-11 17:07] otavio commented on #432
You can use `fsl` distro, so it uses imx preferred ones.

[2020-06-11 18:50] QB4-dev commented on #432
Ok, thank you for clarification and help

[2020-06-11 18:50] #432 closed

[2020-06-17 19:57] zandrey commented on #407
Upstream PR has been accepted with modifications, therefore I've opened #437 to have a proper backport added to the layer.

This issue could be closed, as OP-TEE build succeeds with #437

[2020-06-17 20:18] #407 closed

[2020-06-18 20:17] zandrey opened #438 "cogl build is failing after upstream upgrade to 1.22.8"
Upstream had `cogl` upgraded to *1.22.8*, and this causes a build failure with following errors:

[code]

Commit in `cogl` that causes this issue is [9c4764224a](https://gitlab.gnome.org/GNOME/cogl/-/commit/9c4764224aded552fb855b1c2b85b26d2b894adf), which explicitly includes `EGL/eglmesaext.h` header after migration to `libglvnd` is done. `EGL/eglmesaext.h` is non-upstreamed in `mesa`, and it is i

[2020-06-21 19:41] Christian-Prather opened #440 "imx8 zeus vulkan driver error"
Hello, hoping to get some assistance pointed in the right direction. I am building a yocto (zeus) image for an imx8 SOM with the vivante GPU utilizing the meta-freescale layer. I am attempting to get vulkan support on the image. I have added vulkan-loader, vulkan-header, vulkan-tools from the meta layer and the imx-gpu-viv recipe from meta-freescale. It appears that the vulkan libraries are making

[2020-06-27 12:51] zandrey commented on #438
@petegriffin @otavio

Looks like OE-Core upstream [has a patch](https://lists.openembedded.org/g/openembedded-core/message/140039) for this issue. Once it is merged in master - this issue can be closed as `cogl` should be buildable again.

I'll try to pick it up and test it with `meta-freescale` layer today.

-- andrey

[2020-06-27 14:38] otavio commented on #438
Awesome :-)

[2020-06-28 09:22] petegriffin commented on #438
@zandrey that is great news :)

[2020-07-01 11:20] zandrey commented on #438
As a follow-up here:

Commit 86172ed1cecd536a3dc6260622691db6cdf4d190 upstream has this build issue solved, and is present on the `master` branch.

I've just tested the build and for me it went through OK.

@petegriffin You might want to pull the updates `master` from *OE-Core* to verify it, and if you're AB shows no error - this issue can be closed.

-- andrey

[2020-07-02 14:46] petegriffin commented on #438
@zandrey I just kicked off another build to try and confirm, but I seem to be hitting some new issue now building the kernel for imx8mqevk https://ci.linaro.org/job/rpb-openembedded-master/1388/DISTRO=rpb-wayland,MACHINE=imx8mqevk,label=docker-stretch-amd64/consoleFull

13:06:33 NOTE: recipe fontconfig-native-2.13.1-r0: task do_fetch: Started
13:06:33 ERROR: linux-imx-5.4.3+gitAUTOINC+f8118585ee-r

[2020-07-02 15:57] zandrey commented on #438
@petegriffin This is yet another issue, it is already addressed: https://lists.openembedded.org/g/openembedded-core/topic/75237251#140191

I've made a patch yesterday for this, and it is pending in upstream waiting for AB.

-- andrey

[2020-07-07 10:18] gmbankar37 opened #443 "Python3-pycrypto-native missing"
Hello,
   I am trying to build an image with meta-freescale as a layer for i.mx8mmevk. But I am getting following error

ERROR : Nothing PROVIDES ' python3-pycrypto-native' ( but meta-freescale/recipes-security/optee-imx/optee-os_3.2.0.imx.bb DEPENDS on or otherwise requires it )

I haved searched but cannot find the python3-pycrypto-native package. Can anyone help me on this issue?
![bitbake erro

[2020-07-07 11:35] otavio commented on #443
What branches are you using?

[2020-07-07 16:38] gmbankar37 commented on #443
I have cloned the meta-freescale layer from the git repository http://git.yoctoproject.org/cgit/cgit.cgi/meta-freescale .
yocto project core dunfell 3.1.1 .

[2020-07-09 12:46] petegriffin commented on #443
In my Dunfell build it is located here meta-openembedded/meta-python/recipes-devtools/python/python3-pycrypto_2.6.1.bb

[2020-07-19 14:29] zandrey commented on #438
@petegriffin Ping, have you had time to verify this one is solved? Can this be closed now?

Thanks a lot!

-- andrey

[2020-07-21 07:53] gmbankar37 commented on #443
Thank you. This was useful. The meta-openembedded layer does not have a layer.conf file. I did create one but the error still exists. How did you include the meta-openembedded layer in your build?

[2020-07-21 12:25] petegriffin commented on #438
@zandrey yeah this is issue is fixed and can be closed :)  Also the kernel config issue you linked to above.

However I now see issues with gcc10 backported patch to optee-os when building optee-test. It is strange in that some of my builds are OK, but ta-dev-kit-dir isn't always defined

e.g. https://ci.linaro.org/job/rpb-openembedded-master/DISTRO=rpb-wayland,MACHINE=imx8mqevk,label=docker-stret

[2020-07-21 23:52] IniterWorker commented on #443
@gmbankar37,

The meta-openembedded is a group of meta-layer. See the example below :

[code]

For more information, please see the documentation: [enabling-your-layer](https://www.yoctoproject.org/docs/2.1/dev-manual/dev-manual.html#enabling-your-layer).

B. r

[2020-07-23 05:32] gmbankar37 commented on #443
Thank you @IniterWorker . The error is resolved and the image is getting build.

[2020-07-23 05:32] #443 closed

[2020-08-03 22:33] zandrey commented on #438
@petegriffin If that is OK for you - I would close this one down, so you can open another issue for the `optee-test` build failure.

I guess since `optee-test` does not relate to `cogl` - it should be tracked separately, otherwise people might get confused while searching for info under different header. 😉

-- andrey

[2020-08-03 22:33] #438 closed

[2020-08-17 21:23] zandrey opened #456 "Integrate NXP Release 5.4.24-2.1.0"
This is a collective issue to track the upgrade of community layer to NXP release `5.4.24-2.1.0` (based off `zeus` branch).

If anyone is currently working on upgrading any component or recipe - please post a recipe name (or name folder) with a short status here, so we can avoid double work here.

[2020-08-17 21:26] zandrey commented on #456
I'm currently on `recipes-bsp` part -> bumping up component versions to align them with NXP BSP.

As a side work (which should be done in order to support components in `recipe-bsp`) I'm also updating `conf/machine` files and `recipes-kernel/linux/linux-fslc-imx_5.4.bb` (with `defconfig`).

[2020-08-24 20:40] thochstein commented on #456
I'm working on linux-imx.

[2020-08-24 21:27] otavio commented on #456
@thochstein

Check the ongoing PR as @zandrey made our recipe, for our forked one.

[2020-08-24 22:07] thochstein commented on #456
@zandrey, did you have any issue with `CONFIG_CRYPTO_DES`?

[code]

[2020-08-24 22:59] zandrey commented on #456
@thochstein I guess this comes from the fact that in `imx_v8_defconfig` is defined as `CONFIG_CRYPTO_DES=m` and at the beginning I've seen this popped up. I changed it to `CONFIG_CRYPTO_DES=y` which solved the warning.

Have a look at the `defconfig` in the ongoing PR, the only difference from `imx_v8_defconfig` it has is the `CONFIG_CRYPTO_DES`.

[2020-08-27 20:07] otavio opened #465 "perf is failing to build using linux-fslc"
Fail from our CI:

[code]

[2020-08-28 06:43] zandrey commented on #465
@otavio Is it possible to get a full build log? I do not see the actual failure from the extract.

It might be that there are few more patches needed for `perf` to be cherry-picked, there has been some discussions on the oe-core about it.

BTW, I assume this is the latest `linux-fslc` with the `perf` patch applied, is that correct?

[2020-08-28 11:42] otavio commented on #465
No, it is before. Your patch fixes it, so please mention this issue in your PR so it is closed.

[2020-08-28 21:31] #465 closed

[2020-08-31 22:34] zandrey commented on #456
Just as a quick update here: I'm currently pacing further through recipes, following are locally upgraded:

[code]

I'd be looking at `gstreamer` next, and then come up with with PR to address Part 2 of the upgrade.

If anyone else is looking to help here - you're pretty much welcomed! 😉

[2020-09-03 06:37] krzk opened #475 "Disabled v4l feature in OpenCV"
Disabling V4L2 in dynamic-layers/openembedded-layer/recipes-support/opencv/opencv_4.%.bbappend is really a pain:
1. It's important feature of OpenCV.
2. Explanation by Otavio Salvador <otavio@ossystems.com.br> when adding this line is not even correct and you keep pushing it to all customers:
_"The camera support does not work using v4l. Disable it."_
This is simply not true, as V4L works fine and

[2020-09-03 11:39] otavio commented on #475
Hello @krzk, I checked the `bbappend` file and it disabled it only when using the NXP BSP as is quoted below:
[code]

I am copying @thochstein here so he can ask internally if we can drop this override.

So I went further and checked where the comment you are referring to comes from and it seems you are referring to the following commit:
[code]

and as it can be seen on the commit log, this is fro

[2020-09-03 11:43] krzk commented on #475
All NXP BSPs have imxgpu2d  even if they do not actually support it yet (e.g. i.MX 8).
Zeus branch is not old. You kept this change all the time, copying, updating, rebasing till OpenCV v4.3 and Yocto v3.0.

[2020-09-03 21:47] thochstein commented on #456
Working on `imx-gpu-viv`.

[2020-09-04 08:31] RobertBerger opened #476 "Is it possible to use HAB with meta-freescale?"
If so, is this documented somewhere?

[2020-09-04 11:36] otavio commented on #476
It is, but it is not documented anywhere.

[2020-09-04 20:27] zandrey commented on #475
That is not quite true, and according to [NXP Comparison table](https://www.nxp.com/docs/en/supporting-information/IMX8LAYERCMPR.pdf) *i.MX8M Nano* derivative lacks 2D HW accelerator or blit engine of some sort. I'm not sure what you mean by support in this case - packages or HW support?

Packages are present in this layer, as they are ported from NXP BSPs. HW 2D blit support can be cross-checked

[2020-09-04 21:26] zandrey commented on #476
@otavio Is there *any* piece of information available on this?

People are asking about this in Yocto IRC a lot, but there is no place to adress them to. If you have anything regarding this - can you please share it?

Thanks a lot!

-- andrey

[2020-09-07 08:49] zandrey commented on #476
@RobertBerger

I just found that there is a documentation for HAB in U-Boot source tree: https://github.com/Freescale/u-boot-fslc/blob/e2cb327cff2d12d715d89c8779a0fdfcfc39c1e9/doc/imx/habv4/introduction_habv4.txt

This was mentioned by *qschulz* on yocto IRC, and I checked the `u-boot-fslc` source tree if the documentation in there - the description from DENX is present there.

[2020-09-07 09:42] krzk commented on #475
@zandrey I am saying that you're not even able to build the packages with meta-freescale. Just look at the compatible machines in recipes or their dependencies. Then also look at DTS which is missing important bits (although this is for running, not building). Anyway, this is an off-topic. We can keep argue on this, does not matter for the problem here.

There is no point in this override. The BSP

[2020-09-07 10:04] zandrey commented on #475
Can you please be more specific about recipes that fails? Seriously, if there is a problem - this has to be addressed in the layer, but in order to do that a more detailed information regarding the particular error is needed.

Also, you might either extend this issue or open another one detailing your particular failure. I can tell you that my *OpenCV* build for example runs just fine.

This is in

[2020-09-07 12:07] zandrey commented on #475
As a follow-up:

Out of curiosity, I've tried to drop that *.bbappend* and `opencv` compiled successfully, together with `gstreamer1.0-plugins-bad` which pulls it as dependency.

I tend to lean towards point [1] from my above message, but NXP and @otavio gets the final say here.

-- andrey

[2020-09-07 16:07] otavio commented on #475
@zandrey

Are you sure you did not use the mainline BSP? and did you use a machine that has a minimal set of GPU?

OpenCV is used (when using imx components) only at https://github.com/Freescale/meta-freescale/blob/master/recipes-multimedia/gstreamer/gstreamer1.0-plugins-bad_1.16.imx.bb#L6-L8

In case we use pristine GStreamer (https://github.com/Freescale/meta-freescale/blob/master/recipes-multim

[2020-09-07 16:46] zandrey commented on #475
I used the NXP BSP  and just built *imx8mnevk* machine (no VPU, no 2D HW support) and with *opencv.bbappend* dropped - it went through.

[2020-09-07 16:49] krzk commented on #475
It seems you connect disabling of OpenCV V4L2 with building/running gstreamer imx plugins. This is fundamentally wrong approach because:
1. Anyone could want to run OpenCV V4L2 without any iMX GST plugins at all,
2. There is no single reason to disallow such configuration for all customers.

Of course, you might say "you do not need V4L2, use NXP camera stack"... but then you forgot that NXP V4L2

[2020-09-07 18:06] otavio commented on #475
@krzk let me be very straight with you, please stop complaining and send a PR showing what you are proposing.

We're very open to contributions and we'd love to receive a PR with detailed commit logs for the changes showing what you intend to do and as well as how you tested this. Bear in mind we're supporting all SoCs and not only 8 families so we need to be sure to consider the other SoCs. If yo

[2020-09-07 18:47] krzk commented on #475
Sure :)

[2020-09-08 16:40] thochstein commented on #475
Hi folks, sorry for my late response. I'm checking with the team now.

[2020-09-08 17:53] RobertBerger commented on #476
Cool thanks! So no need to sign an NDA with Freescale ;)

[2020-09-08 18:43] ricardosalveti commented on #476
The HAB stuff you can see without an NDA (I believe NDAs are only required for a few socs so you know which fuses to blow).  We have some docs for our own yocto-based distro (which uses meta-freescale) at https://docs.foundries.io/latest/reference/secure-boot.html, in case you want to have a look how we're doing secure boot.

[2020-09-09 20:20] cpboyd opened #484 "problem building linux-fslc-imx on dunfell"
With the recent commit changes, I now get this issue building the kernel even after removing my own `bbappend` files:
[code]

[2020-09-09 20:28] cpboyd commented on #484
This commit removed the relevant `#define` from `include/linux/fb.h`:
https://github.com/Freescale/linux-fslc/commit/49fea9ddec254c85351bf1417da1730ede6f8a2e#diff-43768cc89c01c730cb119634b42dfa81

[2020-09-09 20:29] otavio commented on #484
@zandrey can you take a look?

@cpboyd what `defconfig` are you using?

[2020-09-09 20:34] cpboyd commented on #484
@otavio One based off of `imx_v7_defconfig`

It seems like anything including `CONFIG_VIDEO_MXC_IPU_OUTPUT=y` should result in this error.

[2020-09-10 01:30] thochstein commented on #475
It appears that the dependency should have been removed some years ago...

[2020-09-10 01:42] otavio commented on #475
Mind to prepare a PR?

[2020-09-10 02:18] thochstein commented on #475
Okay: https://github.com/Freescale/meta-freescale/pull/486

[2020-09-10 07:07] zandrey commented on #484
@cpboyd `FBINFO_MISC_USEREVENT` has been removed in upstream with commit [376810e5e9e148648c8b6e4aa8dc6306e9364f49](https://github.com/Freescale/linux-fslc/commit/376810e5e9e148648c8b6e4aa8dc6306e9364f49).

I'd say that *drivers/media/platform/mxc/output/mxc_vout.c* would require same changes, since it is not present in upstream.

If you can port that patch and send it over against `linux-fslc` tr

[2020-09-10 21:53] zandrey commented on #484
@cpboyd I've come up with a patch in my fork for this: [bffbf24c88a75f0e0979fbd6eca034e010230e57](https://github.com/zandrey/linux-fslc/commit/bffbf24c88a75f0e0979fbd6eca034e010230e57)

Can you pick it up and test it? If that passes for you - I would open a PR to have it in `5.4-1.0.0-imx`.

-- andrey

[2020-09-11 22:55] cpboyd commented on #484
@zandrey The build compiled successfully. I haven't actually tested it yet

[2020-09-14 08:35] zandrey commented on #484
@cpboyd Thanks a lot for a quick feedback!

Is it possible you test this patch in runtime? I do not have a HW to verify it, so I would need to rely on your further feedback here.

Once you can verify it is operable - I would include it also into next kernel update, together with *v5.4.65* merge.

-- andrey

[2020-09-14 16:21] #475 closed

[2020-09-14 17:51] cpboyd commented on #484
@zandrey It seems that my build has issues related to `CONFIG_OF_OVERLAY` that I'm now looking into

[2020-09-14 20:50] zandrey commented on #484
@cpboyd Thanks for testing it out!

I'd queue up this patch then for next kernel update.

Cheers!
-- andrey

[2020-09-15 11:05] #484 closed

[2020-09-29 18:26] dv1 opened #500 "Library from virtual/libg2d provided by imx-dpu-g2d requires the libdrm library for linking"
If I try to link the g2d library, I get:

    ld: cannot find -ldrm

I can see that libdrm is marked as RDEPENDS in the imx-dpu-g2d recipe, but this does not solve the problem that other recipes that use G2D now have to add a special case where libdrm also must be linked in.

Can this somehow be resolved by modifying the imx-dpu-g2d recipe itself?

[2020-09-29 18:36] otavio commented on #500
@dv1 can you check dunfell-next?

[2020-09-29 20:23] thochstein commented on #456
Going through the machine conf, working on adding 6ULZ, 8DX, 8DXL so far...

[2020-10-02 08:43] gharti opened #506 "Compile Error in imx-test package in current dunfell"
In current dunfell branch imx-test package does not compile

Error message:
[code]

This happens in a clean checkout and build, i.e:

[code]

[2020-10-02 09:20] gharti opened #508 "Compile Error in uboot2020.04 in current dunfell branch"
In current dunfell branch u-boot-imx_2020.04.bb does not compile

Error message:
[code]

And a lot of warnings about redefind constants like
[code]

This happens in a clean checkout and build, i.e:
[code]

[2020-10-02 09:26] gharti opened #509 "Configuration error in mesa package for the imx6qdlsabresd reference platform"
In current dunfell branch there is a bitbake configure error in mesa package

Error in sources/poky/meta/recipes-graphics/mesa/mesa_20.0.2.bb:do_configure

Error message
[code]

This happens in a clean checkout and build, i.e:
[code]

[2020-10-02 13:20] #506 closed

[2020-10-02 19:45] otavio commented on #508
@thochstein can you take a look at this?

[2020-10-02 19:46] otavio commented on #509
Could you check it against `fslc-wayland`?

@thochstein can you check mesa at your side?

[2020-10-02 21:16] zandrey commented on #509
IIRC, we used to have similar issue (#115), which was finally solved by @fschrempf with his PR #287

@gharti Can you take a look at the PR to see if you can apply similar mechanisms for `imx6qdlsabresd`?

-- andrey

[2020-10-05 09:00] gharti commented on #509
It is possible to add a USE_OSMESA_ONLY_mx6 ?= "yes" to a mesa.bbappend file like it is done for the i.MX8, but then swrast is used for DRI.

But is this the best way to do it on i.MX6 because swrast is used then?

`fsl-wayland` with `USE_OSMESA_ONLY_mx6`
[code]

Plain `fslc-wayland` and plain `fsl-wayland` (and also NXP Zeus release):
[code]

But `fslc-wayland` uses ETNAVIV while `fsl-wayland` us

[2020-10-05 12:21] otavio commented on #509
You can use it with etnaviv if you add:

[code]

at your conf/local.conf, so it overrides it for `fslc-wayland`.

[2020-10-05 13:47] gharti opened #510 "Compile error in lttng-modules for imx6qdlsabresd on dunfell (and dunfell-next)"
An error occured on `sources/poky/meta/recipes-kernel/lttng/lttng-modules_2.11.2.bb:do_compile`:

[code]

This happens in a clean checkout and build, i.e:
[code]

And also if switched poky to dunfell-next

[2020-10-05 15:56] otavio commented on #510
The PR is here:

http://cgit.openembedded.org/openembedded-core-contrib/log/?h=stable/dunfell-next; please apply this (http://cgit.openembedded.org/openembedded-core-contrib/patch/?id=348c666b2dca230308c8462dac2117b04cca6ae7) and let us know if it works for you.

[2020-10-06 11:17] gharti commented on #510
Hi Otavio, dunfell-next with this patch applied works. Thanks. Will it be backported to dunfell?

[2020-10-06 11:35] otavio commented on #510
Yes; it is queued for merge. I am closing this issue as we cannot fix it here.

[2020-10-06 11:35] #510 closed

[2020-10-07 15:19] gharti commented on #509
I tried this approach today with the result that the mesa configuration error also occure.

[2020-10-09 14:02] ernstp opened #518 "Force pushing branches?"
I'm getting a number of these from meta-freescale... shouldn't be necessary?
 ! [rejected]          dunfell -> dunfell (non-fast-forward)
 ! [rejected]          master -> master (fetch first)

[2020-10-09 14:50] otavio commented on #518
Hello,

Em sex., 9 de out. de 2020 às 11:03, Ernst Sjöstrand <
notifications@github.com> escreveu:

I made a force push some time ago but I don't recall doing it lately. Maybe
you did not update it recently?

--
Otavio Salvador                             O.S. Systems
http://www.ossystems.com.br        http://code.ossystems.com.br
Mobile: +55 (53) 9 9981-7854          Mobile: +1 (347) 903-9750

[2020-10-09 16:50] ernstp commented on #518
It was from an automated system that I haven't checked in a while. Anyway, good if it can be avoided!

[2020-10-09 16:50] #518 closed

[2020-10-15 19:40] dv1 opened #521 "Invalid version numbers in linux-fslc-imx and kernel-module-imx-gpu-viv"
These recipes have version numbers like "-imx_5.4.24_2.1.0". However, underscores are not permitted in version numbers.
Yocto complains about this, reporting them as an error. Example:

    *** Error: Package name kernel-module-snd-usb-audio-5.4.70-imx_5.4.24_2.1.0+g2d1241e38347 contains illegal characters, (other than [a-z0-9.+-])

Is it safe to simply replace the underscores with dashes?

[2020-10-15 19:59] otavio commented on #521
Which package manager?

[2020-10-15 20:02] dv1 commented on #521
ipk .

[2020-10-15 20:58] zandrey commented on #521
Interesting, I've never caught this issue on me end...

Nevertheless, @dv1 is right - those symbols are not valid in version number.

I'm doing a merge of _5.4.71_ now and can queue this change also up, if there are no objections here. Would opt in for `-imx-5.4.24-2.1.0`, it would more-or-less match the kernel branch used by NXP.

-- andrey

[2020-10-15 21:16] otavio commented on #521
Sure, please prepare it and send it with the PR :-)

[2020-10-16 21:04] zandrey commented on #521
@dv1 I was trying to reproduce the issue you have with versioning, but so far I could not find any combination of `DISTRO_FEATURES` and machine to have this error pop up.

I've actually changed the versioning scheme in the `linux-fslc-imx` recipe to `-imx-5.4.24-2.1.0` as it should be (PR follows shortly), but it would be good to know what was the combination you used that triggered this behavior.

[2020-10-16 21:18] zandrey commented on #521
I have packages also configured as `PACKAGE_CLASSES = "package_ipk"` in _local.conf_ and still - I do not see the error... This is what really puzzled me and that is why I wanted to get a bit more info on the build config @dv1 is using to reproduce the issue.

[2020-10-16 21:25] dv1 commented on #521
I use current git master, and poky.

These are the layers:

    poky/meta
    meta-freescale
    meta-freescale-3rdparty
    meta-raspberrypi
    meta-qt5
    meta-openembedded/meta-multimedia
    meta-openembedded/meta-networking
    meta-openembedded/meta-gnome
    meta-openembedded/meta-python
    meta-openembedded/meta-oe
    poky/meta-poky
    poky/meta-yocto-bsp

And this is from the local.c

[2020-10-16 22:25] #521 closed

[2020-10-20 19:01] woutervanh opened #528 "[IMX6Q][Dunfell] Problem using imxeglvivsink on top of X11"
I'm using a custom board/custom distro, based on yocto Dunfell. It's using vivante drivers (so not etnaviv).
Running kernel is: 5.4-2.1.x-imx
X11 itself is working fine. Although I get a VivDRIScreenInit -releated error message in the log:

[code]

If I run a simple gst-pipeline, it gets a SIGSEGV fault.
[code]
Am I lacking something? Anyone else with similar issues?
I have it on glimagesink too,

[2020-10-20 19:20] otavio commented on #528
@woutervanh thanks for reporting it here; I'm wondering if you could get an image with debugging symbols and see if `gdb` could shed any light on the culprit?

[2020-10-20 21:06] MaxKrummenacher commented on #528
Hi @woutervanh

I observed similar symptoms when using X11 with i.MX 6. i.e. the 'Xlib:  extension "XFree86-DRI" missing on display ":0"'

That one I could overcome by [forward porting](http://git.toradex.com/cgit/linux-toradex.git/commit/drivers?h=toradex_5.4-2.1.x-imx&id=c0ad2a24a02344e50109f436fd296e79bd740e0c) the DRI1 Vivante driver in the kernel. Looks like DRI1 got deprecated with a nice wa

[2020-10-20 21:09] woutervanh commented on #528
Maybe I can try tomorrow, but I'm not familiar with gdb...

[2020-10-21 13:52] woutervanh commented on #528
I think you saved my day!
I also took your patch and enabled DRM_VIVANTE in the kernel. Warnings are gone and I don't get a segfault any longer. I'll have to verify if I have an actual visual when I have display at hand (which I don't have right now) but it looks good.
Did not try glmark2 though

[2020-10-21 14:05] otavio commented on #528
Oh! cool! @woutervanh, looking forward to your test results!

[2020-10-21 14:05] otavio commented on #528
@psivasubramanian @thochstein is this a known issue on NXP releases?

[2020-10-21 15:07] woutervanh commented on #528
[code]

[code]

[2020-10-22 14:39] woutervanh opened #529 "[IMX6Q][Dunfell] vivante - X11 rotation"
As my display is physicaly 90° rotated, I wanted to rotate my X11 environment. Herefor I added `Option      "Rotate" "CW"` to the device section in xorg.conf
Now that didn't work out that well. Xserver complained about missing symbol "xf86DisableRandr", called by vivante driver and bailing out. I fixed it by adding a [dummy](https://build.opensuse.org/package/view_file/openSUSE:Leap:15.0/xorg-x11-

[2020-10-22 19:44] otavio commented on #528
@woutervanh could you prepare a PR fixing this? so we can fix this.

[2020-10-23 15:16] woutervanh commented on #528
Yes, will do.

[2020-11-05 11:08] corinnatum opened #549 "[Dunfell][optee-imx] do_install optee-test_3.7.0.imx.bb fails"
Dear all,

We are currently trying to run OPTEE on an Colibri IMX6ULL on branch dunfell.
However, the do_install part of optee-test_3.7.0.imx.bb fails with
'install: cannot stat '.../build/tmp/work/armv7vet2hf-neon-poky-linux-musleabi/optee-test/3.7.0.imx-r0/build/xtest/xtest': No such file or directory'.
Actually the whole optee-test/3.7.0.imx-r0/build directory is empty. It seems as if nothing w

[2020-11-05 11:21] otavio commented on #528
@woutervanh can this to be closed? I believe it is all already included in Dunfell.

[2020-11-06 14:05] #549 closed

[2020-11-24 12:53] fabianbuettner opened #567 "i.MX6ULL: kernel linux-imx_4.19.98.bb with CONFIG_THUMB2_KERNEL=y"
Hi,

when trying to boot this kernel, I get the following kernel panic:

PC is at ret_fast_syscall+0x2/0x62
LR is at SyS_brk+0xf3/0x108
pc : [<80105d22>]    lr : [<80194c07>]    psr: 60000013
sp : 88049fa8  ip : 50c53c7d  fp : 00000001
r10: 0000002d  r9 : 88048000  r8 : 80105f44
r7 : 0000002d  r6 : 00000009  r5 : 76f14819  r4 : 76f3b8d0
r3 : 88044000  r2 : ffff0001  r1 : 00000000  r0 : 01d32000
Fl

[2020-11-24 13:12] otavio commented on #567
Em ter., 24 de nov. de 2020 às 09:53, Fabian Büttner
<notifications@github.com> escreveu:

We've been using Linux 5.4 for this SoC, with our customers. Any
reason to use this specific release?

--
Otavio Salvador                             O.S. Systems
http://www.ossystems.com.br        http://code.ossystems.com.br
Mobile: +55 (53) 9 9981-7854          Mobile: +1 (347) 903-9750

[2020-11-24 14:48] fabianbuettner commented on #567
We are currently using meta-freescale/zeus. I think that's the reason why.

[2020-11-24 14:54] otavio commented on #567
I suggest you to use Dunfell :-)

Em ter., 24 de nov. de 2020 às 11:48, Fabian Büttner
<notifications@github.com> escreveu:

--
Otavio Salvador                             O.S. Systems
http://www.ossystems.com.br        http://code.ossystems.com.br
Mobile: +55 (53) 9 9981-7854          Mobile: +1 (347) 903-9750

[2020-11-24 14:55] fabianbuettner commented on #567
Ok thank's for the quick response. Will report back if it works 👍

[2020-11-24 21:37] #567 closed

[2020-12-21 12:16] maximdeclercq opened #601 "Can not build "fsl-image-mfgtool-initramfs" image for "imx7d-pico" in Dunfell"
I'm not able to build the "fsl-image-mfgtool-initramfs" image for an "imx7d-pico" machine due to compatibility issues with "u-boot-imx-mfgtool". The MACHINEOVERRIDES variable does not seem to have to correct values (`"armv7ve:use-mainline-bsp:armv7ve:use-mainline-bsp:imx7d-pico"`).

My manifest file can be found [here](https://pastebin.com/ZNtvmbWz).

The error occurs when I execute the following

[2020-12-23 22:07] zandrey commented on #601
You're using Community distro `fslc-framebuffer`, which is not compatible with `u-boot-imx-mfgtool`.

What you can try to do is to switch on using NXP-based distro `fsl-framebuffer` instead (note the `c` is dropped inside the name). That should effectively set a compatibility for your machine to be able to pull `u-boot-imx-mfgtool` and build _fsl-image-mfgtool-initramfs_ image.

But beware: in thi

[2020-12-28 13:31] maximdeclercq commented on #601
Thanks a lot. Are there any downsides/differences to using the NXP distro and is this documented somewhere?

[2021-01-12 18:03] sakoman opened #611 "[dunfell] xf86-video-armada fetch failure"
WARNING: xf86-video-armada-2_0.1+gitAUTOINC+78e7116a5b_8478eef32f-r0 do_fetch: Failed to fetch URL git://git.arm.linux.org.uk/cgit/xf86-video-armada.git;branch=unstable-devel;protocol=http;name=armada, attempting MIRRORS if available
ERROR: xf86-video-armada-2_0.1+gitAUTOINC+78e7116a5b_8478eef32f-r0 do_fetch: Fetcher failure: Fetch command export PSEUDO_DISABLED=1; unset _PYTHON_SYSCONFIGDATA_NAME

[2021-01-13 01:28] otavio commented on #611
Have you tried this on master?

[2021-01-13 03:08] sakoman commented on #611
No, I haven't.  I'm preparing the 3.1.5 release of dunfell LTS oe-core, and one of my tests is to do a clean build with some popular layers.  That's where I discovered the issue.

I see that you've done a related patch for master:

https://github.com/Freescale/meta-freescale/commit/2b18a6b0be178b0207c86fa049271cdd4c815981#diff-65124f1ece90a276110cb5089ed42994170493a4b9102134b6572a5c02fbe801

This

[2021-01-13 04:13] otavio commented on #611
Applied.

[2021-01-13 04:13] #611 closed

[2021-01-29 13:37] MaxKrummenacher opened #622 "Integrate NXP Release 5.4.70_2.3.0"
@zandrey already worked on this in his fork
https://github.com/zandrey/meta-freescale/tree/upgrade-to-rel_imx_5.4.70_2.3.0

I added further patches on top of that here:
https://github.com/MaxKrummenacher/meta-freescale/commits/upgrade-to-rel_imx_5.4.70_2.3.0
I successfully built it for a 64bit and a 32bit machine. I have yet to try it out on target, so IMHO at least my work is not ready for merge.

[2021-01-29 16:41] otavio commented on #622
Awesome. @zandrey can you prepare a PR?

[2021-01-29 17:17] zandrey commented on #622
@MaxKrummenacher Thanks for the update and follow-up on my branch!

@otavio I guess it would be fair to ask Max if he would make a PR as he took my (relatively small) base and went through the rest of packages.

@MaxKrummenacher would you be willing to submit a PR of your branch, or should I take over all commits from your fork and prepare a PR myself?

-- andrey

[2021-01-29 17:25] MaxKrummenacher commented on #622
Hi

@otavio  @zandrey Ok,

Sure no problem, I do it. I guess from your comment you are happy with your patches as is. I will first test two images on the target and rebase on current master.

[2021-01-29 17:33] zandrey commented on #622
Thanks a lot!

I believe I had the "base" part covered, and so far `core-image-base` was operable for me on `imx8mm-lpddr4-evk` machine.

I was planning to do the same on my end, but I can do this also with the PR patch.

-- andrey

[2021-01-31 10:09] maximdeclercq commented on #601
Changing the distro to `fsl-framebuffer` still does not work, unfortunately.

Something along the dependency tree still requires `u-boot-fslc`.
[code]

I tried overriding `IMX_DEFAULT_BOOTLOADER` and `MACHINE_ESSENTIAL_EXTRA_RDEPENDS`, but `meta-freescale-3rdparty/conf/machine/imx7d-pico.conf` seems to be included after my custom conf.

[code]
machine/imx7d-pico-extra.conf
[code]

This is the outp

[2021-01-31 15:22] otavio commented on #601
I'd rather fix the U-Boot FSLC to support the mfgtool. The use-nxp-bsp is not necessarily referring to all NXP GA specific components but the Vivante GPU drivers and Linux fork.

[2021-01-31 15:43] maximdeclercq commented on #601
Thanks for the clarification, I'll see if I'm able to fix the `u-boot-fslc` to support the mfgtool.

[2021-01-31 16:26] maximdeclercq commented on #601
https://github.com/Freescale/meta-freescale/pull/627 allows the `mfgtool` to build with the `fslc` distros. I'll check if this produces a  flashable image.

[2021-02-01 20:22] otavio commented on #601
Fixed ... closing.

[2021-02-01 20:22] #601 closed

[2021-02-01 20:25] otavio commented on #529
X11 is mostly abandoned from NXP side so I don't foresee it ever being fixed. Did you consider using Wayland?

I'll close this as this is not going to change. 👎🏼

[2021-02-01 20:25] #529 closed

[2021-02-01 20:25] #528 closed

[2021-02-01 20:26] otavio commented on #509
@thochstein can you validate this?

[2021-02-02 14:58] MaxKrummenacher commented on #622
Upgrade merged, closing this issue.

[2021-02-02 14:58] #622 closed

[2021-02-08 09:31] zandrey commented on #456
@thochstein Are there any activities here that should be tracked in this issue, or can I close it?

I guess since the integration of `2.3.0` release in #622, this issue is not relevant anymore.

-- andrey

[2021-02-08 09:33] zandrey commented on #349
@thochstein This issue can be closed I guess, since `dunfell` is on the `2.1.0` NXP release, and `master` already contains `2.3.0`.

Can you close it?

-- andrey

[2021-02-08 11:36] otavio commented on #456
Yes, it can be closed.

[2021-02-08 11:36] #456 closed

[2021-02-08 11:37] otavio commented on #349
Yes, this can be closed.

[2021-02-08 11:37] #349 closed

[2021-02-17 19:07] zandrey opened #654 "isp-imx package fail to build if GPLv3 license is blacklisted"
PR #653 brings `bash` in `RDEPENDS` for `isp-imx` package, which would fail to build if `GPLv3` license is blacklisted.

Scripts should be made shell-neutral, otherwise this package cannot be included in images with _no-GPLv3_ setup.

@chrisdimich Can you have a look to see how scripts provided by this package could be clean-up from bashism?

-- andrey

[2021-02-17 19:50] chrisdimich commented on #654
Yes, will do.

[2021-02-17 23:13] chrisdimich commented on #654
Fixed by #655

[2021-02-17 23:22] #654 closed

[2021-02-17 23:23] otavio commented on #509
Fixed in  #634

[2021-02-17 23:23] #509 closed

[2021-02-17 23:24] #389 closed

[2021-02-17 23:26] otavio commented on #440
Please validate this error in master and dunfell. Zeus is not actively developed anymore.

[2021-02-17 23:26] #440 closed

[2021-02-18 03:08] thochstein commented on #508
I'm not able to reproduce the compile error. @gharti can you make sure you have updated because it seems that your error was fixed by Max.

Unfortunately, I am seeing an install error on both `dunfell` and `master`:

[code]

That suffix looks incorrect, seems it should be `imx` for `fsl-wayland`, but the MACHINE setting seems to be overriding even a change in `local.conf`. It doesn't explain the i

[2021-02-18 11:13] fschrempf opened #657 "Error building extensible SDK (eSDK) for i.MX with mainline BSP on Dunfell"
Machines using the mainline BSP setup fail to build the eSDK. The issue can be reproduced with the following setup in `local.conf` and by running `bitbake core-image-minimal -c populate_sdk_ext`.

[code]

The error is about a conflict between packages firmware-imx and linux-firmware. For some reason the eSDK build pulls in the firmware-imx package, which I guess it shouldn't do. This issue only oc

[2021-02-19 02:19] thochstein commented on #508
@otavio I think we're running into design problems due to the duality of mainline and NXP BSP and the moving of some of that design into the distro config. @zandrey updated the distro config to fix a problem with the 8M config, but that creates this problem here for imx6qdlsabresd which is defaulting to mainline bsp. I don't have a good grasp of the big picture here, so don't know how to fix it. I

[2021-02-19 16:17] thochstein commented on #508
I'm about to test this, but my idea is to undo the commit by @zandrey and update the commit by @MaxKrummenacher so the `SPL_BINARY` overrides are only for 6 and 7.

[2021-02-19 16:33] zandrey commented on #508
@thochstein I'm not sure which commit of mine you're referring to. Is it the [880dbf2951](https://github.com/Freescale/meta-freescale-distro/commit/880dbf2951e4fad5985825a225f26acb2ddb6041) in _meta-freescale-distro_ repository or some other one?

-- andrey

[2021-02-19 17:02] thochstein commented on #508
Yes, that's the one. Do you think it will be okay? I've built `imx6qdlsabresd` and `imx8qm-mek`, waiting for `imx8mm-lpddr4-evk`.

[2021-02-22 09:21] gharti commented on #508
@thochstein: With current checkout, the build also works on my side. Thanks.
But now I also see the same install error as you mentioned.

[2021-03-01 14:18] otavio commented on #657
We fixed this in https://github.com/Freescale/meta-freescale/pull/669; we'll be preparing the backports shortly.

[2021-03-01 14:18] #657 closed

[2021-03-02 09:21] sapiippo opened #672 "imx-gpu-viv 6.4.3.p0.0 graphical issues with Qt"
The 6.4.3.p0.0 version of imx-gpu-viv is having problems running Qt correctly with eglfs backend (https://bugreports.qt.io/browse/QTBUG-90486). The issue are solved with the next update (6.4.3.p1.0) that has landed in master.
Would it be possible to have that and related changes be cherry-picked to gatesgarth as well?

[2021-03-02 11:24] otavio commented on #672
Yes, we can. Could you cook a backport PR for it?

[2021-03-02 14:48] sapiippo commented on #672
I can attempt one.
I'm not entirely sure if gpu update alone is enough or does it require all of release 5.4.70_2.3.0 commits.

[2021-03-02 18:18] otavio commented on #672
As people is using gatesgarth it might be good to upgrade the GPU initially.

[2021-03-03 11:23] otavio commented on #672
Fixed in https://github.com/Freescale/meta-freescale/pull/674

[2021-03-03 11:23] #672 closed

[2021-03-12 13:02] sapiippo opened #684 "gstreamer1.0-plugins-bad: Nothing PROVIDES 'virtual/libgles2'"
#604 is causing build failure in gstreamer1.0-plugins-bad when opengl is not in DISTRO_FEATURES on imxpxp machines (such as imx6ullevk):

ERROR: Nothing PROVIDES 'virtual/libgles2' (but /home/sapiippo/dev/meta-freescale/recipes-multimedia/gstreamer/gstreamer1.0-plugins-bad_1.16.3.imx.bb DEPENDS on or otherwise requires it). Close matches:
  virtual/libc
  virtual/libgl-native
  virtual/libsdl2
ERR

[2021-03-16 07:14] sapiippo opened #686 "Boot up failure with imx8mn-ddr4-evk with 5.4.70_2.3.0"
Images built from master branch fails to boot up imx8mn-ddr4-evk board.

The boot stops after:
[code]
Reverting commits 15cb077d7a715e92889fc8ea5dcc5a89fbec79ee "imx-mkimage: : update to 5.4.70_2.3.0" and d46f7a84f9bde371bd1ff17ed30e8542a870509b "imx-atf: upgrade to NXP release 5.4.70_2.3.0" makes it boot correctly.

[2021-03-16 10:23] zandrey commented on #686
@sapiippo

Can you provide more details about your build setup? How do you populate your Yocto setup (repo or manual)? Which distro do you build? Which image?

Can you also post the _Build Configuration_ here, so it is clear which commits your layers are sync'ed up to?

-- andrey

[2021-03-16 10:48] sapiippo commented on #686
I have a manual setup, using latest master branch for everything and building core-image-minimal with fsl-wayland distro.

`Build Configuration:
BB_VERSION           = "1.49.2"
BUILD_SYS            = "x86_64-linux"
NATIVELSBSTRING      = "universal"
TARGET_SYS           = "aarch64-fsl-linux"
MACHINE              = "imx8mn-ddr4-evk"
DISTRO               = "fsl-wayland"
DISTRO_VERSION       = "3.3-s

[2021-03-16 10:57] zandrey commented on #686
I've tried the same setup, and indeed - it is not booting...

I do recall I've seen similar boot hang though...

Can you try to drop `optee` from `MACHINE_FEATURES` in [conf/machine/include/imx8mn-evk.inc](https://github.com/Freescale/meta-freescale/blob/cc4b91bf3a3cf5c2034372c607783048aae44b65/conf/machine/include/imx8mn-evk.inc#L6)?

[2021-03-16 11:18] sapiippo commented on #686
removing `optee` makes it boot correctly.

[2021-03-16 11:35] zandrey commented on #686
This is what I was suspecting...

@thochstein Is it possible you take a look at this issue? It seems that the _OP-TEE_ when combined with _ATF_ in 2.3.0 release is not bootable (at least for Mini EVK).

I've had similar issues when I developed the mainline BSP support, and that is the reason why I included commit 47ae500a23984b093b3793d783553569140ff000 into my branch. I was thinking that it only

[2021-03-16 12:32] thochstein commented on #686
OP-TEE is upgraded to 3.10 in our 5.4.70_2.3.0 release. I'll work on upgrading `meta-freescale` this morning.

[2021-03-16 13:22] zandrey commented on #686
Thanks for noting that, good catch! Indeed, the _OP-TEE_ has been overlooked during the update... I'll be waiting for the update then and test it with mainline BSP afterwards, so that I can drop one commit which might not be required after all.

-- andrey

[2021-03-16 17:15] sfalbesoner opened #689 "Update optee-os version"
Currently this layer still uses optee-os version 3.7.0, which was released in October 2019 (according to https://github.com/OP-TEE/optee_os/releases). That was almost one and a half years ago and another five releases have been published since, the newest one being 3.12.0. Looking at the changelog, especially versions 3.9.0 and 3.10.0 contained lots of improvements, at least in terms of number of

[2021-03-16 17:38] otavio commented on #689
Sure, please prepare a PR and mark this issue as Fixed by it. :-)

[2021-03-16 17:53] sfalbesoner commented on #689
Just a few minutes later after opening this issue I found that someone is obviously already working on this: ;)
"_OP-TEE is upgraded to 3.10 in our 5.4.70_2.3.0 release. I'll work on upgrading meta-freescale this morning._" (https://github.com/Freescale/meta-freescale/issues/686#issuecomment-800219904)

[2021-03-16 17:57] otavio commented on #689
@thochstein are you going to look at this or @sfalbesoner should take a look at it?

[2021-03-16 18:19] thochstein commented on #689
I'm working on it :-)

[2021-03-16 20:59] #686 closed

[2021-03-16 20:59] #689 closed

[2021-03-17 12:32] zandrey commented on #686
@thochstein Thanks a lot for the upgrade in #690!

I've tried the NXP BSP for `imx8mn-ddr4-evk` and `imx8mm-lpddr4-evk` - they both boot OK after the upgrade.

@otavio
I've also tried to enable back the `optee` feature for mainline BSP, but it is still not booting on both EVKs from above. I guess the OP-TEE support would require more digging (not only in `optee-os`, but in U-Boot as well), so I su

[2021-03-17 13:22] otavio commented on #686
Sure @zandrey. It makes sense.

[2021-03-19 23:00] otavio commented on #508
@gharti can you check it now? if it is reproducable, please let us know.

[2021-03-24 00:54] thochstein opened #699 "mesa build break on NXP BSP for i.MX with GPU"
mesa has dropped support for `swrast`:

[code]

[2021-03-24 01:08] thochstein commented on #699
I'm checking to see how far we are from being able to drop mesa entirely for i.MX with GPU. Neena has dropped `osmesa` and `swrast` and that seems to be building.

[2021-03-24 14:57] #508 closed

[2021-04-01 02:21] kraj commented on #699
you need something like this perhaps

[code]

[2021-04-01 14:38] thochstein opened #704 "Bootloader choosing logic breaks compatibility for existing machines"
A problem I'm running into after https://github.com/Freescale/meta-freescale/issues/696  is my local machines are not defaulting to the same values.

[code]

We fixed it locally:

[code]

But it would be nice to fix this so we don't break compatibility.

_Originally posted by @thochstein in https://github.com/Freescale/meta-freescale/issues/696#issuecomment-811933523_

[2021-04-06 12:53] msalvinik opened #707 "LOCALVERSION (and MXC_GPU_VIV) does work since dunfell"
`CONFIG_LOCALVERSION` setting done in `fsl-kernel-localversion.bbclass` does not work anymore since dunfell, because since this release `linux-imx.inc` includes also `kernel-yocto.bbclass`.

In this class, task `kernel_configme` task overwrites the `.config` file generated by `preconfigure` task in `fsl-kernel-localversion.bbclass`

Same result for `CONFIG_MXC_GPU_VIV` set in `fsl-vivante-kernel-d

[2021-04-06 21:14] thochstein commented on #699
Thanks, Khem.

[code]

Does this make sense to set `GALLIUMDRIVERS` when `gallium` is disabled?

I found that `gallium` was originally removed and `osmesa` added to work around build issues [here](https://github.com/Freescale/meta-freescale/commit/3b0fc734634f8f0db1f48fc13c64cacd3d99dd92). I don't see those build issues any more and propose in https://github.com/Freescale/meta-freescale/pull/702 t

[2021-04-06 21:21] kraj commented on #699
you could still use swrast/llvmpile gallium driver but I think upsream is removing a bunch of code around this so perhaps we should wait until 2.22 and see where it ends up.

[2021-04-07 14:57] thochstein opened #710 "u-boot-fslc fails build for imx8mp-ddr4-evk"
As reported by @zandrey, `u-boot-fslc` does not support the new machine `imx8mp-ddr4-evk`.

See https://github.com/Freescale/meta-freescale/commit/b4f829868e9977be4aca02f91e5dcd34b49654f9#r49215341.

[2021-04-07 16:19] #710 closed

[2021-04-10 12:58] otavio commented on #704
I've successfully built the `u-boot-fslc`and `u-boot-imx` for ìmx6ulevk`.

You can see this below:
[code]

I spent some time looking at this, and I think this is happening in an internal machine definition where you mix two or more machine types. Am I right?

If that is the case, it is indeed possible it'll need small adjustments as the logic has indeed change.

[2021-04-10 13:23] #707 closed

[2021-04-10 13:25] otavio commented on #707
@msalvinik, thanks for reporting the local version bug; this is now fixed. I couldn't reproduce the GPU_VIV error, and it worked fine in my tests. Please open a specific issue for it with more detail about how to reproduce it.

[2021-04-10 14:08] thochstein commented on #704
The problem occurs with our own machine config files. As I see it, the default settings for these uboot variables have changed and will thus break any machine config using the default. Here is the full set of overrides we are now using:

[code]

[2021-04-10 14:16] otavio commented on #704
It makes sense; I think we can close this as we understood what happened. Do you agree?

[2021-04-10 17:15] #684 closed

[2021-04-10 17:22] otavio commented on #500
No feedback since September. Closing it.

[2021-04-10 17:22] #500 closed

[2021-04-10 17:22] thochstein commented on #704
Would be nice not to break compatibility, but if you're okay with it, at least we know it breaks compatibility.

[2021-04-10 17:23] otavio commented on #184
@thochstein news on this? Otherwise we could close this issue.

[2021-04-10 17:29] otavio commented on #86
Hello, I am wondering what you believe is wrong here?

The tune is using the NXP-specific overrides so for a mainline machine it won't be applied. This can be seen at:
https://github.com/Freescale/meta-freescale/blob/ff7dbbb6ab83206e509a02039db4aad54c9cf42a/conf/machine/include/imx-base.inc#L112-L128

It seems to be doing the right choice.

[2021-04-10 17:29] #86 closed

[2021-04-10 17:30] otavio commented on #68
Is it possible for you to confirm this on master or dunfell?

[2021-04-10 17:36] otavio commented on #54
Fixed in https://github.com/Freescale/meta-freescale/commit/8413aafd59df1577b594e3553b767f165bb80b5e

[2021-04-10 17:36] #54 closed

[2021-04-10 17:37] otavio commented on #53
@thochstein can you check this?

[2021-04-10 17:39] otavio commented on #704
We try hard not to break, but we eventually need; this seems to be a step in the right direction, so I think we can live with that. I am closing this now.

[2021-04-10 17:39] #704 closed

[2021-04-10 17:45] thochstein commented on #53
2019?

[2021-04-10 17:57] thochstein commented on #53
... and apparently still broken...

[2021-04-10 18:00] otavio commented on #53
It seems people are not using mfgtool very often...

[2021-04-12 14:05] msalvinik commented on #707
@otavio  I'm sorry, my mistake: you are right, GPU_VIV worked fine. Thanks for fixing LOCALVERSION.

[2021-04-13 01:09] thochstein commented on #184
No news. I asked again a couple of days ago but no response. I guess you can close it.

[2021-04-13 01:20] #184 closed

[2021-04-13 14:30] angolini commented on #476
I think this issue can be closed now.

In case anyone from the future has anything else to add, please fell free to reopen it.

[2021-04-13 14:30] #476 closed

[2021-04-14 04:59] leimaohui opened #721 "error bucause of 492999986124b5e960d0e21fc81d341458d6c5ad"
I select linux-qoriq as kernel in my config file:

PREFERRED_PROVIDER_virtual/kernel = "linux-qoriq"

And I met the following error with the latest commit of master branch:
[code]
I found this error will disappear without commit 492999986124b5e960d0e21fc81d341458d6c5ad:

[code]

So, is there anything wrong in my config? Or is something wrong with this this commit?

[2021-04-14 11:44] otavio commented on #721
Hello,

Em qua., 14 de abr. de 2021 às 01:59, leimaohui
***@***.***> escreveu:

It is a regression so I need to check it, please open a github issue
so we look at it.

--
Otavio Salvador                             O.S. Systems
http://www.ossystems.com.br        http://code.ossystems.com.br
Mobile: +55 (53) 9 9981-7854          Mobile: +1 (347) 903-9750

[2021-04-14 21:23] #721 closed

[2021-04-14 21:25] otavio commented on #699
Fixed in #702.

[2021-04-14 21:25] #699 closed

[2021-04-14 21:26] otavio commented on #68
This is a very old issue and no body has mentioned something similar. I am closing this for now.

[2021-04-14 21:26] #68 closed

[2021-04-16 21:48] denix0 commented on #707
This actually breaks standard capability to apply config fragments!

[2021-04-16 21:51] denix0 opened #733 "Applying config fragments no longer works after #707"
Fix for #707 in commit d6cb0a63d1a77da21e7f9cb7ca6561371b3fc896 breaks standard capability to apply config fragments:

foo.cfg:
CONFIG_FOO=y

linux%.bbappend:
SRC_URI += "file://foo.cfg"

[2021-04-16 22:29] otavio commented on #733
What mechanism are you using for the fragments? We are using the kernel-yocto schema.

[2021-04-16 22:44] denix0 commented on #733
Yes, nothing special about it. Using dunfell. Kernel recipe is linux-fslc-imx on imx8mqevk.
The config fragment is pretty much like above. bbappend also has FILESEXTRAPATHS change, of course.
Used to work for quite some time until this change, i.e. 5.4.107. Then it stopped working. Reverting d6cb0a63d1a77da21e7f9cb7ca6561371b3fc896 makes it work again with 5.4.112

[2021-04-16 22:50] otavio commented on #733
I'll need to dig to find where it is getting wrong. I imagine we need to add an extra order somewhere.

I'll try to look at it during the weekend. No promises...

[2021-04-17 01:06] otavio commented on #733
I am not in position to check if this patch fixes the issue but I believe it should:

[code]

If someone can check this, it'd be very helpful.

[2021-04-17 11:53] csarmat commented on #733
@otavio, that patch does not fix the issue. The order of tasks looks like this:

[code]
The patch that fixes this issue:
[code]
The order of tasks after using changes above (code works fine):
[code]

As you can see the difference is that in working case the task **do_kernel_localversion** runs before **do_kernel_configme**, **do_deploy_source_date_epoch**, **do_populate_lic**. And the patch as bel

[2021-04-17 14:16] otavio commented on #733
Awsome. Do you want to send a PR with the fix?

[2021-04-17 14:42] csarmat commented on #733
I might do this but I will not manage to do this till Monday. So, if you can commit this change then do it

[2021-04-17 15:23] otavio commented on #733
@denix0 can you test #734? It seems it fixes the issue.

[2021-04-18 01:02] denix0 commented on #733
yes, I can confirm the fix from #734 works in dunfell

[2021-04-18 01:12] #733 closed

[2021-04-20 11:26] zandrey opened #741 "imx-boot build is broken on current [master]"
Since commit 3149d19d ("u-boot-imx-tools: Drop i.MX specific tools"), I see that the `imx-boot` build is broken with following errors:

[code]

Reverting the above commit makes the build successful again.

I assume that this is happening due to the fact that the ITS produced by `imx-boot` scripts is not fully compatible with the updated version of `mkimage`, which is now provided by upstream packa

[2021-04-20 13:13] otavio commented on #741
We will need to move this to another recipe and it cannot be called mkimage. We need to do it as it conflicts with the original tool set and we cannot move them depending on the machine.

[2021-04-22 13:39] #741 closed

[2021-04-29 08:21] dv1 opened #759 "Cannot run core-image-weston + suggestions for fixes"
I found two issues with the weston support in current master.

1. When I tried to build core-image-weston, there was a build error, since xserver-xorg-wayland was not found. As documented in https://lists.yoctoproject.org/g/meta-freescale/message/24666 , the reason for this is that xserver-xorg-wayland was replaced with a standalone xwayland recipe. This change in weston_9.0.0.imx.bb fixed it for

[2021-04-29 11:28] otavio commented on #759
The first, yes. The second, better way to fix this is to add a rrecommends to the kernel module on one of the `imx-gpu-viv` libraries.

Could you cook two PRs for this?

[2021-04-29 19:13] dv1 commented on #759
I tried to add `kernel-module-galcore` to the rrecommends of all `imx-gpu-viv` libraries, and yet, `kernel-module-galcore` was not added to built images. So, I'll try to add it to the rdepends of `libgal-imx` instead.

[2021-04-29 19:40] otavio commented on #759
It should be rrecommends.

[2021-04-29 20:39] dv1 commented on #759
OK, done, [this is the MR](https://github.com/Freescale/meta-freescale/pull/760). I close this now to continue discussions over there instead.

[2021-04-29 20:39] #759 closed

[2021-05-14 19:49] chrisdimich opened #783 "imx6 weston-init build error gatesgarth"
I am seeing an issue with the BSP when building nitrogen6x on gatesgarth. The issue is in weston-init.bbappend. There are variables defined which essentially will uncomment out lines in weston.ini. The problem is, due to the MACHINE overrides in nitrogen6x, this gets called twice and throws an error:

ERROR: weston-init-1.0-r0 do_install: Commented setting '#use-g2d=1' not found in file /backup/je

[2021-05-14 20:07] otavio commented on #783
The error when uncommenting the block has been fixed in master: https://github.com/Freescale/meta-freescale/commit/258063936a4256a40ba55bc2305c9989ef09598e; please prepare a backport PR so we merge this fix.

Please prepare a PR for the proposal of the override change. Please mention on commit log  it affects following SoCs:

[code]

[2021-05-14 20:19] chrisdimich commented on #783
Thanks @otavio ! Will do.

[2021-05-14 20:48] otavio commented on #783
The override change proposal should be a new PR against master.

[2021-05-14 21:55] thochstein commented on #783
Generally using `_imxgpu2d` is fine, but my understanding for 8QM and 8QXP is that the 3D rendering will provide better performance.

[2021-05-17 12:16] otavio commented on #783
@chrisdimich please make a PR reworking the append for the override.

[2021-05-17 18:00] chrisdimich commented on #783
No problem, will do.

[2021-05-18 18:35] chrisdimich commented on #783
Created PR #787

[2021-05-19 10:38] sapiippo opened #788 "Kernel crash on imx8qm-mek with fslc kernel"
The linux-fslc-imx kernel (5.4.114+gf5b1a0c923d0) crashes on imx8qm-mek board on boot, while the linux-imx kernel (5.4.70+g5f2220e87dd8) works.

[code]

[code]

[2021-05-20 09:59] onurcalili commented on #788
My problem caused by the change in source code if mmc controller in linux kernel. The change in mmc controller source code changes the indexing of mmc devices indexing (ex. /dev/mmcblk1 becomes /dev/mmcblk0, /dev/mmcblk3 becomes /dev/mmcblk1 if sdhc2 and sdhc4 are used in kernel). So I patch the kernel as follows;

diff --git a/drivers/mmc/core/core.c b/drivers/mmc/core/core.c
index 460a456bcdd2..

[2021-05-21 16:38] pberginkonsult opened #791 "UBOOT_ENTRYPOINT not set for mx8m machines built with mainline bsp"
When building mainline bsp for, as example, imx8mm_lpddr4_evk the variable UBOOT_ENRTYPOINT is not set. This causes the fitImage generation to be corrupt as 'Load Address' in the uImage header gets wrong value.

The MACHINEOVERRIDES mx8m was removed from mainline bsp in the commit 069482f24b3e07c8118f4cf9af7564220ac5e82b. This caused that this change ac25d3a3d09a2707d9ee614d3ed506fd2ebe2f83, setti

[2021-05-22 20:22] zandrey commented on #791
@pberginkonsult

`master` branch contains U-Boot `2021.07-rc1`, which has the _distro boot_ enabled by default. In this case, I'm not sure if the kernel FIT load support is still enabled and operable.

In fact, even before ac25d3a3d09a2707d9ee614d3ed506fd2ebe2f83 ("imx-base.inc: Consolidate DEFAULTTUNE and UBOOT_ENTRYPOINT for 8M") was merged - original `MACHINEOVERRIDES` were anyway filtered out

[2021-05-24 09:32] pberginkonsult commented on #791
Could be tha case, haven't checked.

In my project I don't want a generic distro boot. I need to bundle an initramfs and by using fitImage I can easily bundle kernel and initramfs together. I'm not blocked by this as the simple workaround is to add UBOOT_ENTRYPOINT in my config and problem is solved.

From my perspective the issue here is that we have variables that seems to be valid for the confi

[2021-05-25 16:53] zandrey commented on #788
@sapiippo

Did you try to bisect the kernel repo to find the offending commit?

The upgrade only included commits from _stable korg_, therefore it would be beneficial to know which commit caused this behavior.

Also, did you try to build and run _mainline_ BSP as a sanity check to see if it exposes the same problem? That BSP flavor should contain the latest `linux-5.12.y` branch and can be used to

[2021-05-26 17:19] zandrey opened #795 "Mesa build is broken after the upstream upgrade to 21.1.1"
Upstream OE commit 8579142183 ("mesa: update 21.0.3 -> 21.1.1") has bumped up the version of _Mesa_ to `21.1.1.`

This causes the patch [0002-dri-bring-back-use-flags-for-createImageWithModifier.patch](../blob/master/recipes-graphics/mesa/mesa/0002-dri-bring-back-use-flags-for-createImageWithModifier.patch) not to apply clean and build breaks.

Patches were merged with commit bfb9e699 ("mesa/etnav

[2021-05-26 17:32] otavio commented on #795
@schnitzeltony is it possible for you to take a look at this?

[2021-05-26 17:57] zandrey commented on #788
@onurcalili Thanks for pointing this out!

A colleague of mine came up with the same investigation and the patch, I'd queue it in for the next kernel update.

-- andrey

[2021-05-26 20:11] schnitzeltony commented on #795
Yes I should do that because there were promising changes at the etnaviv area. Frankly spoken: I was waiting for this update.
Bad news: Daily business makes it impossible for me to announce some schedule - hope this is something for weekend...

[2021-05-27 09:02] zandrey commented on #788
@sapiippo @onurcalili

I've opened a PR #796 with kernel update that includes the patch to fix the merge issue. Please test your setup with this bump.

-- andrey

[2021-05-27 11:21] otavio commented on #788
I merged it together with the other Linux kernel bumps. Once it is confirmed to fix the issue, we can close this.

[2021-05-31 09:41] schnitzeltony opened #798 "MACHINE_SOCARCH_FILTER breaks build"
With latest oe-core master I get:

Warning seen for long time now get errors by https://github.com/openembedded/openembedded-core/commit/64b89f3c8fc31842256c482a3039d90d3f12c1cc.

Some analysis:
* qtbase is marked as SOC_ARCH [1]
* as soon as a **native** recipe DEPENDS on **qtbase (or other recipe marked as SOC-ARCH)**, manifest cannot be found. This happens often to me because in meta-qt5-extra

[2021-05-31 17:55] shr-project commented on #798
native recipe depending on anything TUNE_PKGARCH, MACHINE_ARCH or even allarch is definitely wrong, right?

sstate-diff-machine.sh would report the same.

The warning was changed to error 4 months ago (before hardknott release):
https://git.openembedded.org/openembedded-core/commit/meta/lib/oe/sstatesig.py?id=95607a26854d873399d2b9d7e5fcbffc0cbdba4c

the linked commit from master only changes it f

[2021-05-31 19:44] schnitzeltony commented on #798
As far as I remember build continued. Note that I start builds for imx on master only to be a good boy: Our companies builds are based on dunfell.

Yes maybe but it happens here and there. I started to fix but stopped - there were too many cases. BTW 90% of my trouble is caused by meta-qt5/cmake_qt5.bbclass: It adds qtbase-native and qtbase to DEPENDS. As soon as a native recipe inherits it, the d

[2021-05-31 21:39] otavio commented on #795
Fixed in #797.

[2021-05-31 21:39] #795 closed

[2021-05-31 23:31] otavio commented on #788
Fixed in #796.

[2021-05-31 23:31] #788 closed

[2021-06-01 07:57] schnitzeltony commented on #798
@otavio: Hope you did not invest too much effort on this one: as far as I can see there is no activity required here.

@shr-project Thanks for bringing me back to the right track.

Shall we close this one or leave it open for others?

[2021-06-01 11:37] otavio commented on #798
@schnitzeltony I didn't get to it but I am glad you got it right :-) I'll close this as there is no point in leaving this open for good.

[2021-06-01 11:37] #798 closed

[2021-06-04 10:08] woutervanh opened #802 "Where did imxeglvivsink go?"
In Dunfell I was using it to have a windowed gstreamer sink in X11. But I don't have it in harknott? What's the alternative?

[2021-06-04 11:28] #802 closed

[2021-06-04 11:28] woutervanh commented on #802
Sorry, wrong place, I'll move to gstreamer-imx

[2021-06-10 08:07] zandrey commented on #476
Just as an update to HAB topic:

There was an [announcement on the U-Boot ML](https://lore.kernel.org/u-boot/7a08f509-c216-9d8e-81a6-6a26079011ef@denx.de/):

_DENX_ published the layer which takes care about HAB on the i.MX8M series and have it working with upstream components, so anyone interested in integrating HAB in their products might have a look at it as a potential solution.

Link to repos

[2021-06-11 15:33] zandrey opened #808 "Upgrade [master] to NXP release 5.10.9-1.0.0"
Hello all,

I see that NXP started to provide binary images, which are based on the new release `5.10.9-1.0.0`. There are also branches and tags available for `meta-imx` on the _CodeAurora_, which corresponds to this release:
- Source URL: https://source.codeaurora.org/external/imx/meta-imx
- Branch: _gatesgarth-5.10.9-1.0.0_
- Tag: _lf-5.10.y-1.0.0_

Since there is no announcement from NXP regard

[2021-06-11 16:34] otavio commented on #808
@thochstein, what do you think? I want to start to upgrade so we can have it on the October release if possible.

[2021-06-11 16:37] thochstein commented on #808
We've got another release coming by end of month, 5.10.35. Should we wait for that?

[2021-06-15 20:10] otavio commented on #808
@thochstein I'd say to wait for it and once it is released we can start the work.

[2021-06-29 14:07] otavio commented on #808
So it is time :-)

[2021-06-29 14:17] gibsson commented on #783
@chrisdimich if this issue is gone as the PR was merged, please close it.

[2021-06-29 14:31] thochstein commented on #808
Okay, I'll get started on kernel and uboot.

[2021-06-29 16:57] #783 closed

[2021-07-01 15:56] cristianod3 opened #821 "Driver SGTL5000 codec audio freescale"
Does meta-freescale contain the driver to control the freescale SGTL5000 codec chip?

[2021-07-01 17:00] pberginkonsult commented on #821
meta-freescale contains meta data to help you build your Linux distribution. The driver for SGTL5000 can be found in the Linux kernel tree. There are a couple of kernel recipes in this layer that you can use to build your kernel.

[2021-07-01 17:24] cristianod3 commented on #821
in the linux kernel files tree i found sgtl500.c and sgtl5000.h; how to add these files when compiling the new kernel with yocto? If you could explain it to me in more detail, as I am still learning to work with yocto.
thanks

[2021-07-01 20:42] zandrey commented on #821
@cristianod3

The issue you're facing now is not related to Yocto, it is rather a kernel configuration that you need to adjust for your own needs. This is what @pberginkonsult was pointing out in his reply above.

As I've replied to you [on the OE-Core ML](https://lists.openembedded.org/g/openembedded-core/topic/sgtl5000_audio_codec/83922991?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,83922991

[2021-07-15 10:30] jwzl opened #826 "zeus chromuin has many bugs on imx8m mini"
1. click drop menu will crash!
2. open chromium will cause weston crash at some times, and will show black screen
3. when add --in-process-gpu, it will show black squze at some times.
4.  I found the newest yocto bsp still has this issue, and how can I fix these ?

[2021-07-15 15:54] whsplnk opened #827 "What is libsdl2's disable-video-vivante for?"
Hi,
Sorry not sure if this is the best place/way to ask a question.

We are attemping to bring up Kivy to an imx8mp via Yocto and Kivy requires libsdl2. Unfortunately, we are having many problems doing so. (It is currently segfaulting somewhere on sdl2 -> libEGL->libwayland-client->pthread_mut-x_lock).

Anyways, there's a switch in meta-freescale's libsdl2_%.bbappend that disables video vivante.

[2021-07-15 19:49] otavio commented on #827
Hello @whsplnk, we at O.S. Systems, enabled Kivy support on i.MX6 some time ago; we used Etnaviv for this specific project and it worked fine.

[2021-07-16 01:57] whsplnk commented on #827
Hi @otavio, I recognize your name on the Kivy discord while I was researching on how to get the Kivy going with Yocto! Was the imx6 running on X11 or wayland?

I got Kivy going on a rockchip device applying a version of the patch you posted (but for some reason it keeps falling back to llvm pipe even with gpu drivers installed). Unfortunately, like I mentioned it does not run on imx8/wayland for s

[2021-07-16 03:34] otavio commented on #827
We used Wayland with Linux mainline (Etnaviv driver). I'll check if we did the upstreaming of the work we did.

[2021-07-16 13:04] whsplnk commented on #827
I was wondering if you had to do something special when compiling sdl2? Aside from configuring it for gles?

[2021-07-16 16:51] whsplnk commented on #827
Hi otavio,
I managed to get Kivy going on the imx8 finally. I switched over to completely wayland instead of xwayland.

[2021-07-16 16:53] otavio commented on #827
Oh! Maybe you could upstream it to meta-python? :-)

[2021-07-28 12:52] jfernandz opened #834 "Build process for imx6ull-microgea fails because of pxp"
I'm trying to build Dunfell for an `imx6ull-microgea` and I got that output:

[code]

Apparently the machine conf file is bringing it in [line 9](https://github.com/engicam-stable/meta-engicam-nxp/blob/dunfell-community-bsp/conf/machine/imx6ull-microgea.conf#L9).

What do you think? Thank you all, specially @angolini who asked me for a mention in this issue.

[2021-07-28 13:02] angolini commented on #834
let me double check if I can reproduce the same for another board

[2021-07-28 16:05] angolini commented on #834
When I try to build `imx-lib` for `imx6ullevk` I get a "nothing provides"  message:

[code]

I reviewed your machine conf file and I cannot see anything which would cause an error. I wonder if you are using dunfell on all your meta-layers

[2021-07-29 07:50] jfernandz commented on #834
I get the very same output when I try to build just `imx-lib`:

[code]

I'd say all my layers are in dunfell branch, but maybe the problem is my image recipe:

[code]

Do you think the problem could be because I'm including `imx-kobs` and `imx-test`? I think I'll try to build the image without them.

[2021-07-29 08:38] jfernandz commented on #834
Exactly, the problem was I was installing `imx-test` which apparently brings `pxp`, the problem was I was using the same recipe for my image than when I was using warrior, so my recipe inherited `ixm-test` because I followed [this example](https://github.com/engicam-stable/meta-engicam/blob/warrior/recipes-images/images/engicam-test-hw.bb) to crate my recipe. When I remove `imx-test` from my image

[2021-07-29 08:38] #834 closed

[2021-08-05 21:12] angolini opened #838 "imx-alsa-plugins: Build error linux/mxc_asrc.h: No such file or directory"
On master
MACHINE = 'imx8mm-ddr4-evk'
DISTRO ?= 'fsl-framebuffer'
core-image-base

[code]

[2021-08-05 21:15] angolini commented on #838
@otavio  I haven't yet looked deeply, but reporting as it might be some package missing update

[2021-08-05 21:35] otavio commented on #838
@thochstein it might be a missing alsa-lib or kernel headers bump. Can you take a look?

[2021-08-06 00:52] thochstein commented on #838
I haven't been able to work on updating multimedia and graphics for our Q2 release. I can take a look now, but the layer is incompatible now? Will you merge Khem's change soon?

`ERROR: Layer freescale-layer is not compatible with the core layer which only supports these series: honister (layer is compatible with gatesgarth hardknott)`

[2021-08-06 04:01] otavio commented on #838
Yes, I can merge it tomorrow.

[2021-08-06 13:32] angolini commented on #821
Basically, you have to make sure the defconfig file for the linux recipe being used on the target machine includes the sgtl5* device enabled.

I'm going to close this issue as there was no update in last 30+ days. If case anything else is needed, please feel free to reopen it @cristianod3

[2021-08-06 13:32] #821 closed

[2021-08-06 13:35] angolini commented on #808
#818

[2021-08-06 13:35] #808 closed

[2021-08-06 13:36] angolini commented on #53
let me try to build it on master today

[2021-08-07 14:04] thochstein commented on #53
Looks like this is the same error fixed by #825.

[2021-08-07 14:18] otavio commented on #53
I'll consider this as fixed then. Closing.

[2021-08-07 14:18] #53 closed

[2021-08-09 19:01] angolini commented on #838
I confirm it's fixed with #839

[2021-08-09 19:01] #838 closed

[2021-08-23 16:56] angolini commented on #826
We are working to include the latest BSP from NXP on master. I saw there were an update for the GPU packages.

Would you mind to test on master and report the status?

Are you using chromium-imx?

[2021-08-27 16:06] angolini opened #851 "kernel-module-qca9377: build error: some undeclared symbols"
Using:

[code]

On master, I could face some build errors for `kernel-module-qca9377`. Maybe there is still some update missing for the latest BSP upstream?

For example:
[code]
or

[code]

[2021-08-28 00:34] jasonlic opened #854 "Layer freescale-layer is not compatible with the core layer which only supports these series: hardknott (layer is compatible with honister)"
bitbake-layers add-layer ../meta-freescale/ output errors:
NOTE: Starting bitbake server...
ERROR: Layer freescale-layer is not compatible with the core layer which only supports these series: hardknott (layer is compatible with honister)
ERROR: Parse failure with the specified layer added, aborting.

[2021-08-28 00:41] otavio commented on #854
You need to sue the hardknott branch for it.

[2021-08-28 20:52] thochstein commented on #851
Hi @angolini , we did drop support for this. I'll need to prepare a PR. I'm still not finished with the last release upstreaming.

[2021-08-30 08:26] zandrey commented on #854
@jasonlic Indeed, `master` branch of the layer only supports _honister_ starting from commit 13fc081bf70a9438be3a09c91ee38af9798af207. This is done in order to accommodate new append mechanism introduced in OE-Core.

Perhaps you have your core layer setup checked out on `hardknott`, while trying to use `master` from this layer?

[2021-09-02 01:51] dvescovi1 commented on #851
I would like to see qca-9377 support on Hardknott
This wifi is used on some iMX8MM EVK's

[2021-09-02 11:49] angolini commented on #851
What do you mean, @dvescovi1 . As far as I know it is there in Hardknott

[2021-09-02 16:39] thochstein commented on #851
Thanks @dvescovi1, I moved too quickly to just remove support. I will look more closely at the build break and see if I can fix that.

[2021-09-08 19:15] #827 closed

[2021-09-09 14:52] thochstein commented on #851
The build break is due to incompatibility with the 5.10 kernel. I looked to update our recipe to Qualcomm's source https://source.codeaurora.org/quic/le/platform/vendor/qcom-opensource/wlan/qcacld-2.0/, but I'm told that there is not an appropriate release with this support.

[2021-09-09 19:26] #851 closed

[2021-09-10 07:05] pberginkonsult commented on #791
@angolini I've tested this again and I can still see the issue.

My build setup:
[code]

Steps to reproduce is to add the following configuration to the build:
[code]
And build the kernel. This will make a fitImage with this header:
[code]

And when booting on target:
[code]

The solution to get it working is to add `UBOOT_ENTRYPOINT = "0x40480000"` to the configuration. That will produce a fitIma

[2021-09-10 11:12] otavio commented on #791
This happens on mainline only, correct?

[2021-09-10 12:21] pberginkonsult commented on #791
Yes, correct.

When setting `IMX_DEFAULT_BSP="nxp"` the variable `UBOOT_ENTRYPOINT` will get a value because `mx8m` is in `OVERRIDES`.

[2021-09-10 12:52] zandrey commented on #791
Hello @pberginkonsult

If you set the `UBOOT_ENTRYPOINT` in your machine unconditional and regardless of BSP flavor - does this solve the issue with _FIT_ booting?

I was having the similar issue with `DEFAULTTUNE` and has it set in 1d044d1 for mainline BSP in include files for `use-mainline-bsp` override.

Perhaps the same could be done for `UBOOT_ENTRYPOINT` as well in a similar manner?

-- andr

[2021-09-10 13:17] pberginkonsult commented on #791
Yes. This issue has a very simple solution and it is to define `UBOOT_ENTRYPOINT` with correct address somewhere in your configuration, machine config or elsewhere.

Good suggestion. As you say this is a similar issue. I will use 1d044d1 as template and send a PR.

[2021-09-10 14:10] otavio commented on #791
I am wondering if we can come up with a generic solution ... still scratching my head ...

[2021-09-14 12:37] woutervanh opened #864 "Building master branch for imx53 -> kernel panic"
Building linux 5.14.0+g682d702b426b (from kernel recipe in master branch, commit 35f3f4421d3d7878593eef83e1093db8de60a37e according to yocto).  Only added own devicetree (which was working fine on 5.10). I don't really have a clue what's going on...
And now I'm popping on to a kernel panic:

[    2.576862] random: fast init done
[    3.149450] printk: console [ttymxc4] enabled
[    3.171713] [drm]

[2021-09-14 12:45] otavio commented on #864
@twoerner can you verify if you can reproduce it?

[2021-09-14 15:46] twoerner commented on #864
yes, i'm seeing the exact same kernel panic with a core-image-base build from master:

[code]

my version is:
[code]

[code]

[2021-09-14 16:22] otavio commented on #864
Did you check if it is due to a mismatch on the root partition? @fabioestevam ideas?

[2021-09-14 16:44] woutervanh commented on #864
@otavio , it has nothing to do with the root partition. I'm booting from nfs and even disabled my nfs server to verify. It's purely something in kernel

[2021-09-14 16:52] otavio commented on #864
Have you tried 5.13? might be good to find a good kernel version to try to find out the culprit.

[2021-09-14 17:49] fabioestevam commented on #864
I have just sent the attached patch upstream.

Please test it.

On Tue, Sep 14, 2021 at 1:23 PM Otavio Salvador ***@***.***>
wrote:

[2021-09-14 17:51] fabioestevam commented on #864
Looks like replying via email does not allow attachment.

Here is the fix I sent for this issue:
https://lists.freedesktop.org/archives/dri-devel/2021-September/323297.html

[2021-09-14 19:56] twoerner commented on #864
@fabioestevam brilliant!
works for me :+1:

[code]

[2021-09-14 20:03] twoerner commented on #864
I guess we'll need to carry this patch locally until it makes its way through the various projects?
@fabioestevam are you preparing a patch for meta-freescale?

[2021-09-14 20:19] fabioestevam commented on #864
Hi Trevor,

On Tue, Sep 14, 2021 at 5:03 PM Trevor Woerner ***@***.***> wrote:

Thanks for testing.

Could you please help to prepare the patch for meta-freescale?

[2021-09-14 20:42] twoerner commented on #864
No problem!

I have no idea if @otavio will like my approach, but here's a first draft: https://github.com/Freescale/meta-freescale/pull/865

[2021-09-14 20:47] fabioestevam commented on #864
Hi Trevor,

On Tue, Sep 14, 2021 at 5:42 PM Trevor Woerner ***@***.***> wrote:

Thanks! I have pushed the fix now:
https://github.com/Freescale/linux-fslc/commit/4b88a1ee28e7be1fce90e389d786575408924d65

[2021-09-14 20:47] otavio commented on #864
No way 👎🏼 We carry forks for a reason ... heheh. As @fabioestevam mentioned, it just need the bump now.

[2021-09-14 20:51] twoerner commented on #864
ah! update on its way…

[2021-09-15 14:30] #864 closed

[2021-09-16 21:48] zandrey commented on #864
Hello @woutervanh @twoerner @fabioestevam !

Can you maybe tell me which commit caused this in upstream? I'm now doing the stable update, and this got me thinking on if the commit from upstream went into stable trees (`linux-5.10.y` and `linux-5.4.y`) - they would also be broken... 😞

Any chance anyone could bisect the `linux-5.14.y` to get an offending commit, just to make sure it went only into

[2021-09-17 02:23] fabioestevam commented on #864
Hi Andrey,

On Thu, Sep 16, 2021 at 6:48 PM Andrey Zhizhikin
***@***.***> wrote:

The commit that broke i.MX53 is
https://github.com/Freescale/linux-fslc/commit/98659487b845c05b6bed85d881713545db674c7c

It only affects 5.14, not 5.10.

I have sent a fix to meta-freescale and also submitted the fix upstream:
https://github.com/Freescale/linux-fslc/commit/4b88a1ee28e7be1fce90e389d786575408924d65

Re

[2021-09-17 11:58] zandrey commented on #864
Hello Fabio,

On Fri, Sep 17, 2021 at 4:24 AM fabioestevam ***@***.***>
wrote:

Thanks for the quick confirmation! Now I see that the offending commit is
not in stable branches, and I can proceed with stable kernel updates in
recipes so this crash would not appear after it.

Great catch! I'd note this commit for myself for further updates of
linux-5.14.y

--
Regards,
Andrey.

[2021-09-17 23:19] mauzil opened #874 "build/u-boot.u-boot-fslc missing"
Hi all.
Compiling u-boot-fslc in yocto hardknott I get the error:

 cannot stat /...../build/u-boot.u-boot-fslc: No such file or directory.

I touch the file with a bbappend recipe on do_configure_append task, but I don't know the content of the file.

[2021-09-21 12:40] angolini commented on #874
Could you, please, describe how I can reproduce the same on my side?

[2021-09-21 13:04] #826 closed

[2021-09-22 08:58] mauzil commented on #874
Sorry. I solve.
The problem was an old branch in my yocto bsp

[2021-09-22 08:58] #874 closed

[2021-09-23 17:35] zandrey commented on #854
@jasonlic Ping. Any chance you verified your setup? Is this issue still valid?

[2021-09-24 01:09] jasonlic commented on #854
Yes, it still has error.

从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

发件人: Andrey ***@***.***>
发送时间: 2021年9月24日 1:35
收件人: ***@***.***>
抄送: jason ***@***.***>; ***@***.***>
主题: Re: [Freescale/meta-freescale] Layer freescale-layer is not compatible with the core layer which only supports these series: hardknott (layer is compatible with honister) (#854)

@jasonlic<https://github

[2021-09-24 07:47] zandrey commented on #854
Can you post your layer setup here? Which layers do you include? Which branches?

From you original post, it is not clear to which layer setup you're adding `meta-freescale` to, and which branches those layers are checked out on.

If you have core layers checked out at _master_, but adding _hardknott_ from `meta-freescale` - then you for sure have the error you've posted originally. I've already p

[2021-09-27 02:54] jasonlic commented on #854
It can workl now. I use branch honister of poky.
Here is my steps:

git clone -b honister git://git.yoctoproject.org/poky.git
cd poky
git clone https://github.com/Freescale/meta-freescale.git
bitbake-layers add-layer ../meta-freescale/

thanks

从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

发件人: Andrey ***@***.***>
发送时间: 2021年9月24日 15:47
收件人: ***@***.***>
抄送: jason ***@***.***>;

[2021-09-27 19:20] otavio commented on #854
I'll close this as it is not an issue. In case of doubts please ask for reopening it.

[2021-09-27 19:20] #854 closed

[2021-10-01 05:02] kraj opened #878 "imx-cst: do_packagedata failing"
seems this is the failure
[code]
see

https://errors.yoctoproject.org/Errors/Details/609986/

[2021-10-01 11:36] otavio commented on #878
@tprrt, can you take a look?

[2021-10-05 02:00] otavio commented on #791
I believe I have come up with a solution for this. I am working on a PoC to propose the needed changes. Essentially, we extend the overrides to a `generic`, `nxp-bsp`, and `mainline-bsp`.

So, essentially, the `mx8m` override would be split into:

- `mx8m-generic`: common use for both BSP variants
- `mx8m-nxp-bsp`: specific for NXP BSP use
- `mx8m-mainline-bsp`: specific for Mainline BSP use

The

[2021-10-08 13:53] otavio commented on #292
@thochstein

[2021-10-11 12:28] otavio commented on #292
@iamshamiullah please get the `log.do_fetch` so it provides more information how it is failing.

[2021-10-11 17:01] tprrt commented on #878
Hi,

Have you seen any new occurrences?

I tried to reproduce this issue without success.
Moreover, the DST Root CA X3, has expired Sept. 30, 2021, causing quite a bit of trouble, which could explain this.

Best regards,
Thomas

[2021-10-11 17:09] kraj commented on #878
yes cert perhaps was the reason. We should still apply this patch since it pins to right branch

see
https://github.com/Freescale/meta-freescale/pull/881

[2021-10-12 09:45] tprrt opened #882 "qoriq atf 1.5: -Werror=array-bounds error"
From the master branch, TF-A 1.5 for Qoriq L1046 doesn't longer build, the compilation fails on an -Werror=array-bounds:

`| common/runtime_svc.c:55:28: error: array subscript 'rt_svc_desc_t {aka const struct rt_svc_desc}[0]' is partly outside array bounds of 'uintptr_t[1]' {aka 'long unsigned int[1]'} [-Werror=array-bounds]                                   |    55 |         return rt_svc_descs[i

[2021-10-12 09:51] tprrt opened #883 "optee-os-qoriq 3.8.0: bash invalid option"
OP-TEE 3.8.0 build fails on LS1046A:

`Log data follows:
| DEBUG: Executing shell function do_compile
| NOTE: make -j 8 PLATFORM=ls-ls1046ardb CFG_ARM64_core=y ARCH=arm CROSS_COMPILE_core=aarch64-oe-linux- CROSS_COMPILE_ta:arm64=aarch64-oe-linux- NOWERROR=1 LDFLAGS= LIBGCC_LOCATE_CFLAGS=--sysroot=/src/build-ls1046/tmp-glibc/work/ls1046ardb-oe-linux/optee-os-qoriq/3.8+gitAUTOINC+0cb01f7f6a-r0/recip

[2021-10-13 07:04] ting-liu commented on #883
https://github.com/Freescale/meta-freescale/pull/884 fix it.

[2021-10-13 11:39] #883 closed, assigned to nobody

[2021-10-13 11:40] #882 closed

[2021-10-13 15:06] tprrt commented on #882
Thanks @otavio

[2021-10-20 14:22] Ossanes opened #893 "openssl: Issue when applying patch"
image: core-image-minimal
machine: lx2160acex7
distro: fslc-framebuffer
branch: master

ERROR: openssl-3.0.0-r0 do_patch: Applying patch '0001-eng_devcrypto-add-support-for-TLS-algorithms-offload.patch' on target directory '/home/aquino/src/tests/build/tmp/work/aarch64-fslc-linux/openssl/3.0.0-r0/openssl-3.0.0'
CmdError('quilt --quiltrc /home/aquino/src/tests/build/tmp/work/aarch64-fslc-linux/open

[2021-10-21 02:43] ting-liu commented on #893
OpenSSL is upgraded to 3.0.0 in oe-core master branch. The two patches can not be applied and will not be updated to support OpenSSL 3.0.0. So we need run command 'rm recipes-connectivity/openssl/openssl_%.bbappend' when building with master branch. But honister does not have this issue.
@otavio when will meta-freescale create honister branch? The openssl bbappend needs to be removed on master bra

[2021-10-21 16:31] #893 closed

[2021-10-24 14:51] dv1 opened #898 "imx-vpu-hantro DWLInit() tries to open non-existent dma heap on imx8m mini"
In current meta-freescale master (current HEAD at d6082e9971906fa46876dff9330a0db9060ef8ef), imx-vpu-hantro's DWLInit() fails because it tries to open "/dev/dma_heap/linux,cma-uncached", which does not exist. There's "/dev/dma_heap/linux,cma". If I set up the former as a symlink to the latter, DWLInit() works correctly.

Machine is imx8mm-lpddr4-evk .

Is this a known issue?

[2021-10-26 14:05] tprrt opened #900 "qoriq-atf 2.4: the BL33 path is invalid"
The compilation of TF-A 2.4 for LS1012ARB fails because the path specified for the BL33 binary is invalid.

[code]

[code]

Without the secure distro feature:

[code]

[2021-10-28 19:38] denix0 opened #901 "dunfell: latest OE-Core Weston change crashes imx XWayland"
This change in OE-Core was backported to dunfell:
https://git.openembedded.org/openembedded-core/commit/?h=dunfell&id=4efdcc10906945765aa28324ce1badc59cda2976

Though, meta-freescale provides own copy of weston recipe, it now clashes with those changes and XWayland crashes after couple minutes complaining that it can't find some modules.

I tried syncing changes, but there appears too many customi

[2021-11-05 07:51] RobertBerger opened #922 "cortex-m support?"
The boards supported here have Cortex-A cores which run Linux. But some also have Cortex-M cores.

- Do you plan to support e.g. FreeRTOS and/or Zephyr on those Cortex-M cores as well?
- How are they currently supported if want to use only poky and this layer?

[2021-11-05 11:08] MaxKrummenacher commented on #922
Hi Robert

While I don't know the answers to your questions some related comments:

Alejandro Hernandez gave an excellent talk on the ELCE 2019 on the subject 'One Build to Rule Them All: Building FreeRTOS & Linux Using Yocto' along with a layer [2] which implements the FreeRTOS side in this multiarch setup.

However, IMHO, building a (Cross) FreeRTOS application outside of a buildsystem like OE i

[2021-11-05 11:43] otavio commented on #922
I tend to agree with @MaxKrummenacher here. I'd build it externally and package the binary blob.

[2021-11-05 12:17] RobertBerger commented on #922
Thank you @MaxKrummenacher and @otavio.
Ideally, I would like to distinguish between a "developer workflow" where it's fine to build it externally and a "release workflow" where it would be nice to build it with multiconfig. I am not sure if it's worth bothering to build a custom toolchain for the cortex-m, since most people will most likely use the one which comes with the IDE and since this coul

[2021-11-15 22:06] thochstein commented on #901
Sorry, I'm finally looking at this. When I try to run xterm from a console I get this:

`xterm: Xt error: Can't open display: %s`

The weston log shows this:

[code]

The last two lines appear after trying to run xterm.

[2021-11-16 15:56] thochstein commented on #901
A colleague reports an issue with missing `xkbcomp`:

[code]

Installing `xkbcomp` fixed the issue for him.

It seems now that the variable `XSERVER_RRECOMMENDS` [1] is no longer used since `xserver-xorg` is no longer used [2].

[1] https://github.com/openembedded/openembedded-core/blob/honister/meta/recipes-graphics/xorg-xserver/xserver-xorg.inc#L75
[2] https://github.com/openembedded/openembedde

[2021-11-18 17:55] denix0 commented on #901
@thochstein none of those changes are on dunfell

Please see in the first message the exact change in OE-Core on dunfell that I bisected to cause the issue with XWayland from meta-freescale.

[2021-11-18 23:12] thochstein commented on #901
@denix0 sorry about that, too many context shifts...

Does this look like the problem you ran into?

https://github.com/openembedded/openembedded-core/commit/aa829e27a0d3bda3ed943005c1622e71d38bb872

[2021-11-19 16:05] dargo600 opened #929 "devregs license appears to be wrong"
Looking at:
https://github.com/Freescale/meta-freescale/blob/master/recipes-devtools/devregs/devregs_git.bb
which uses:
https://github.com/boundarydevices/devregs

There are both GPL-1 and GPL2 licenses.  Though if you look at the right side it's clearly marked as GPL-2 not GPL-1 so I think that's the license that should be used.  I'm not too clear as to why this is marked as GPL1 here.  It possib

[2021-11-19 16:16] otavio commented on #929
https://github.com/boundarydevices/devregs/issues/7

@gibsson can you ask for Troy to look at this?

[2021-11-19 19:54] thochstein commented on #901
@denix0, sorry for my confusion, too much context switching and complexity...

I'll try myself to backport the backported patch to `weston_8.0.0.imx_bb`.

Can you be specific what is needed to see the error? Do I need to do anything? Or do I need to run an app? xterm good enough?

[2021-11-19 20:09] thochstein commented on #901
Another question, are you using `imx-gpu-viv` drivers? I've recently been made aware that the latest update of those drivers was built on `gatesgarth` and is incompatible with the `glibc` on `dunfell`.

[2021-11-19 22:34] thochstein commented on #901
For that matter, I guess I need the distro you're using as well. I'm using fsl-xwayland.

I'm not seeing XWayland crash. I am able to open and close an xterm. I am seeing the Weston desktop disappear, replaced with a screen of text:

[code]

At this point I have to reboot. I'm not sure if this is because I'm sharing my display with my computer (DP) and with my board (8MQ EVK HDMI). Perhaps the sec

[2021-11-19 23:14] denix0 commented on #901
@thochstein sorry for the delay - hectic day today...

Sorry, I wasn't specific enough about the crash - yes, the Weston desktop disappears for me as well and I believe I saw similar messages on the screen. Since it's been a while since I looked at it closely, I don't remember all the details.

The distro is `fslc-xwayland` from meta-freescale-distro. I do believe `imx-gpu-viv` is used by default.

[2021-11-24 14:17] gibsson commented on #929
I fixed the project, it's now clearly GPL-2.0 as you can see in both the source file `devregs.cpp` and the `COPYING` file.

[2021-11-24 14:34] otavio commented on #929
@gibsson can you send a PR bumping its revision, fixing it, and closing this?

[2021-11-24 14:56] gibsson commented on #929
Here: https://github.com/Freescale/meta-freescale/pull/931

[2021-11-24 16:12] otavio commented on #929
Closed by #931.

[2021-11-24 16:12] #929 closed

[2021-12-01 16:18] angolini commented on #791
Do we have any update on this issue?
@otavio @pberginkonsult

[2021-12-01 21:14] pberginkonsult commented on #791
Sorry, no update from my side. I see that I missed to comment on Otavios suggestion. I think it looks good.

[2022-01-04 20:36] thochstein commented on #901
Well, I finally got back to this, and now I cannot reproduce the problem. @denix0 can you see if the problem is fixed for you?

[2022-01-04 20:46] thochstein commented on #901
Hmm, I tried this again today and can no longer reproduce the problem. @denix0, can you see if you still see the problem? @MaxKrummenacher, perhaps you no longer need to revert.

[2022-01-11 00:45] denix0 commented on #901
nope, still broken for me

[2022-01-13 06:37] sapiippo opened #938 "imx-atf build fails with ld-is-gold"
After changes in https://github.com/Freescale/meta-freescale/pull/933 for imx-atf, its build fails when ld-is-gold is in DISTRO_FEATURES

Built with master branch from poky and meta-freescale using imx8qm-mek:
[code]

[2022-01-13 12:01] otavio commented on #938
@sapiippo are you going to look at the issue?

[2022-01-13 18:20] IniterWorker opened #941 "uuu: COMPATIBLE_MACHINE issue with nativesdk build"
From https://github.com/Freescale/meta-freescale/pull/892,

It seems that nativesdk build don't share MACHINEOVERRIDES. And, with the `COMPATIBLE_MACHINE = "(imx)"`, we are not able to build in nativesdk (host).

Should we revert the change/commit? Or alternative?

B. r

[2022-01-13 21:53] denix0 commented on #901
@thochstein just to clarify - the Weston shell/desktop is not crashing, but getting terminated by systemd after couple minutes due to newly added notify facility timing out. The issue seems to be specific to nxp/imx variant of the weston recipe.

[2022-01-13 22:32] thochstein commented on #901
Right, I did remember that, but I didn't remember that it took long. About how long does it take? Maybe I didn't wait long enough?

[2022-01-14 19:37] otavio commented on #941
@kraj how do you suggest we fix this?

[2022-01-14 19:48] kraj commented on #941
hmm try `COMPATIBLE_MACHINE:class-nativesdk = "(.*)"`

[2022-01-14 23:36] IniterWorker commented on #941
I didn't think about it earlier. Thank you, @kraj, it works fine. Do you want to propose the change?

[2022-01-15 07:40] kraj commented on #941
Go for it

[2022-01-17 11:56] otavio commented on #941
@IniterWorker can you prepare a PR?

[2022-01-17 19:49] nsdrude commented on #922
@RobertBerger You may find our recipe freertos-variscite helpful: https://github.com/varigit/meta-variscite-fslc/tree/hardknott/recipes-bsp/freertos-variscite

It fetches the prebuilt toolchain and builds the MCUXpresso example projects for Variscite's i.MX8 family. The way it's currently written, it is specific to Variscite's machines. But it could be adapted to be more generic and configurable.

[2022-01-18 01:32] IniterWorker commented on #941
@otavio and @kraj,

As a consequence, we are limiting the recipe integration between different machines.

The current recipe doesn't use `COMPATIBLE_MACHINE` for its main purpose of limiting machines, we should consider removing it.

Use case: you may want to use uuu from another stack like meta-ti, ...

If that makes sense to you, I will prepare PRs to remove the `COMPATIBLE_MACHINE`.

[2022-01-18 03:13] IniterWorker commented on #791
After @mferland pointed to me a `loadaddr` issue in the fitImage for mfgtool, I hurt my head on the same question:

### Current workaround:

It's to enforce UBOOT_ENTRYPOINT = "{your machine spec addr}" in your machie.conf.

[2022-01-18 03:26] kraj commented on #941
No need to remove compatible machine it’s added for a reason because it does not work universally for all machines it’s fine to widen the check to include more machines where it is known to work

[2022-01-18 22:39] IniterWorker commented on #941
Build target and "end-user" available target are two different things.
- You may want to use a beagle bone to flash your imx target with uuu.

So, from my point of you, if libusb/libuuu is not limited to a specific machine, you should be able to build from any machine.

As I said before, it seems to me, we are using `COMPATIBLE_MACHINE` in the wrong way. We don't require a runtime dependency on th

[2022-01-18 22:51] kraj commented on #941
ok in theory its fine.
meta-ti would not prefer a dependency on meta-freescale both of them are BSP layers.

OK.

if it is a generic tool, move it to a generic layer, it does not belong to a BSP layer.

[2022-01-19 00:13] IniterWorker commented on #941
Sure, as an example, it was a bit odd and unclear to use. My bad ;-)

Do we have a generic layer for meta-freescale/imx **tools**?

[2022-01-19 04:58] IniterWorker opened #951 "fitImage: fsl-image-mfgtool-initramfs doesn't allow ramfs"
Hi,

I am trying to generate a fitImage from `fsl-image-mfgtool-initramfs`. After a `loadaddr` issue already reported in meta-freescale issue, I am struggling with the initramfs.

As the `its` file wasn't reporting the ramdisk, I tried to put some configurations.

### INITRAMFS Configurations

From **local.conf**

[code]
meta:  **honister**
meta-freescale: **honister**

### Behaviour

[code]

The

[2022-01-20 02:29] kraj commented on #941
perhaps `meta-oe`

[2022-01-20 08:02] MaxKrummenacher commented on #901
Assuming this gets merged to openembedded core the issue will likely be fixed:
https://lists.openembedded.org/g/openembedded-core/message/160745

[2022-01-23 21:43] zandrey opened #959 "imx-vpu-hantro-daemon fetch fails with ERROR 304"
After 4d713c80, `imx-vpu-hantro-daemon` has been upgraded to version `1.1.1`.

Unfortunately, fetcher fails to pull the archive from https://www.nxp.com/lgfiles/NMG/MAD/YOCTO//imx-vpu-hantro-daemon-1.1.1.tar.gz

Trying to fetch it manually using `wget` results in the following output:
[code]

Previous version can be fetched without any issues:
[code]

**Cc:** @thochstein

[2022-01-23 22:50] otavio commented on #959
It works for me. See
[code]

[2022-01-23 22:51] otavio commented on #959
Maybe, it was a transient error? or has been fixed on their end? Could you double-check it?

[2022-01-24 09:44] zandrey commented on #959
@otavio Just double-checked, and the issue is still there, I get `2022-01-24 09:42:03 ERROR 304: Not Modified.` when I try to fetch the new archive manually.

[2022-01-24 10:18] MaxKrummenacher commented on #959
@thochstein
My guess is that NXP's distributed download server system doesn't sync the servers reliably.

If I try to fetch it from home: www.nxp.com evaluates to 2.20.219.131 and I get the same `304: Not Modified.` as Andrey does.
If I fetch on our build server: www.nxp.com evaluates to 2.19.72.166 and wget (and a build) succeeds.

See also:
https://community.nxp.com/t5/i-MX-Processors/i-MX-Yocto

[2022-01-24 11:27] otavio commented on #959
@laurenpost, could you forward this to internal IT team?

[2022-01-24 21:45] thochstein commented on #959
Sorry for the trouble. I've got a ticket in. Will let you know.

[2022-01-25 14:23] niziak opened #961 "SCMVERSION ?= "y" Image creation fails when `linux-imx` is populated from sstate cache."
Hello.
When external additional kernel modules are built by separate recipes following error is shown:
[code]

Problem occurs in some specific scenario, where linux-imx is downloaded directly from sstate cache and additional modules (i.e. `jailhouse`) are built separately. Modules requires kernel source. Kernel source is unpacked and then patched by our local patches.
Every patch generates new com

[2022-01-25 14:35] IniterWorker commented on #951
After few experimentations, I have a fitImage with all in it: dtbs + zImage + initramfs.

But, I can't achieve this without removing these lines from **mfgtool-initramfs-image.bbclass**.

[code]

I am a bit confused with the purpose of forcing IMAGE_FSTYPES during the build of `fsl-image-mfgtool-initramfs.bb` from `mfgtool-initramfs-image.bbclass`. @otavio and @kraj could you give me a hint about

[2022-01-25 14:36] IniterWorker commented on #941
@otavio are you okay with moving uuu recipe to the meta-oe layer?

[2022-01-25 14:59] otavio commented on #941
Sure; no worries from my side.

[2022-01-25 15:00] otavio commented on #951
What machine and `IMX_DEFAULT_BSP` values are you using?

[2022-01-25 15:01] otavio commented on #961
Is there a way for me to reproduce it?

[2022-01-25 15:12] IniterWorker commented on #951
I am using `IMX_DEFAULT_BSP="mainline"`.

[2022-01-25 22:37] thochstein commented on #959
I saw the same failure yesterday, today it works. I haven't heard from IT but maybe you can try it, @zandrey ?

[2022-01-26 08:21] zandrey commented on #959
@thochstein

Unfortunately, it still persists...

[code]

_www.nxp.com_ resolves to `2.20.219.131` and it still returns ERROR: 304

[2022-01-26 13:56] thochstein commented on #959
@zandrey, can you try using `curl`?

[2022-01-28 18:15] zandrey commented on #959
@thochstein

Unfortunately, `curl` returns the same status:

[code]

Can fetch it using any tool...

-- andrey

[2022-01-28 20:04] BWhitten opened #966 "devtool failing in do_kernel_localversion on dunfell"
Hi,

It seems that the attempt to move defconfig in fsl-kernel-localversion.bbclass fails when trying to use devtool to modify the kernel.
If I make a bbappend in my layer to add a defconfig as per the manual I still get the same error, is the defconfig at the wrong location?

**Steps to reproduce**
[code]

**Results in:**
[code]

[2022-01-28 20:24] thochstein commented on #959
Thanks Andrey. It fails again for me. Can you try this and attach the output?
`curl -v -o /dev/null https://www.nxp.com/lgfiles/NMG/MAD/YOCTO//imx-vpu-hantro-daemon-1.1.1.tar.gz`

[2022-01-28 20:38] BWhitten commented on #966
From running devtool with --keep-temp it appears that devtool puts the defconfig in ${WORKDIR}/../oe-local-files/

[2022-01-28 21:43] zandrey commented on #959
Sure, here is the output:

[code]

[2022-01-29 00:07] otavio commented on #966
I am not a `devtool` user so I never facet it; are you going to investigate it?

[2022-01-29 17:10] thochstein commented on #901
The problematic backport is now reverted:
https://github.com/openembedded/openembedded-core/commit/dabd41819563ec63fc5bd5fd0f4af64230e58130

[2022-01-31 17:32] angolini commented on #901
Can we close this issue?

[2022-01-31 17:44] BWhitten commented on #966
I will try against master this evening. Just so I understand, what is this class trying to achieve? I see the population of a .config happens in the kernel class already, not sure why it needs to happen again?

[2022-01-31 18:04] angolini commented on #966
I just tested on master and this is the output. For me it worked.

Please, try it on master only to make sure if it worked or not on master for you.

[code]

[2022-01-31 22:07] BWhitten commented on #966
Fails here issuing
[code]

Failure:
[code]

I think if I were to build an image then issue devtool it would pass, it's the fact I'm coming at it from a blank directory?

[2022-02-01 00:31] denix0 commented on #901
fine with me

[2022-02-01 12:27] angolini commented on #966
I don't know. I don't use devtool that much, and everytime I use it is on top of some build

Let me test your lines on my machine, I will try to test it today.

[2022-02-01 12:30] #901 closed

[2022-02-01 14:18] angolini commented on #292
Close due to inactivity.

[2022-02-01 14:18] #292 closed

[2022-02-01 14:20] angolini commented on #878
Closing as I think the issue is solved now

[2022-02-01 14:20] #878 closed

[2022-02-01 14:31] angolini commented on #898
Close due to inactivity.

[2022-02-01 14:31] #898 closed, assigned to nobody

[2022-02-01 14:32] angolini commented on #900
Close due to inactivity.

[2022-02-01 14:32] #900 closed

[2022-02-02 08:39] tprrt opened #969 "imx-atf build fails with ccache enabled"
EXTRA_OEMAKE isn't correctly appended when ccache is enabled, because the function remove_options_tail doesn't support this case.

[2022-02-02 11:18] tprrt opened #971 "optee-test compilation issues"
There are some compilation issues:

[2022-02-02 15:04] tprrt commented on #969
Hello @otavio,

Do you want me to improve the remove_options_tail function?
Otherwise I can just disable ccache on this recipe.

[2022-02-03 08:48] tprrt commented on #969
I will push a fix that disable ccache on imx-atf because when I updated the recipe to support the case when ccache is enabled, a new error is raised:

[2022-02-03 16:59] thochstein commented on #969
Hi @tprrt, it seems that quotation marks are needed around the value.

`EXTRA_OEMAKE += "CC="${@remove_options_tail(d.getVar('CC'))}""`

[2022-02-03 18:22] tprrt commented on #969
Hello @thochstein,

When I tried to add quotation marks around the value, I obtained the error above, whereas there quotation marks seems correct:

[2022-02-03 18:54] thochstein commented on #969
Okay, it seems I'm not getting `ccache` when I build. Did you do anything to enable it? That `NOTE` actually doesn't make sense to me. I don't see how it comes from the original line that looks like this:

[code]

This is what I see in `log.do_compile`:

[code]

[2022-02-03 19:08] thochstein commented on #969
I tried adding a bogus entry:

[code]

The error I see doesn't match yours but does fail to treat it as part of the CC argument:

[code]
When I add the quotation marks at least it now treats it like part of the compiler:

[code]

[2022-02-04 05:44] tprrt commented on #969
I also added an escape character before the mark quotation, it works much better without. :)

[2022-02-04 18:41] zandrey commented on #959
@thochstein

Do you maybe have an update here? It is still failing, and unfortunately blocks CI builds that I have...

If this problem persists, perhaps a revert of 4d713c80302466a3d4d2b33e071cfeeb866aa548 should be considered...

-- andrey

[2022-02-04 18:44] thochstein commented on #959
Sorry, I was told they had it narrowed down and were following up with a third-party vendor. Let me bug them again.

[2022-02-04 19:22] thochstein commented on #959
I'm told they added a workaround around 1:00 PM MST yesterday. It failed for me as well, so they'll continue looking. I'll revert it for now.

[2022-02-04 19:28] thochstein commented on #959
@zandrey or @otavio, would you happen to know if I would need to revert `imx-vpu-hantro` as well?

[2022-02-04 19:35] otavio commented on #959
If this isn't fixed, it is better or it could misbehave.

Got feedback from the vendor?

[2022-02-04 19:39] thochstein commented on #959
Yes, the vendor put a workaround in place that they thought would fix it, but seems not.

[2022-02-05 20:49] #969 closed

[2022-02-09 16:42] tprrt commented on #971
is anyone already working on this issue?

[2022-02-09 16:54] thochstein commented on #971
Hi Thomas. I'm not working on it. I have been working on porting our latest release (into `meta-freescale` `master`) but got side-tracked. The `optee` recipes are upgraded to 3.15. Perhaps the newer version has fixed this problem.

https://source.codeaurora.org/external/imx/meta-imx/tree/meta-bsp/recipes-security/optee-imx?h=hardknott-5.10.72-2.2.0

[2022-02-09 23:36] thochstein commented on #959
@zandrey, please try again, seems to be fixed.

[2022-02-10 07:34] tprrt commented on #971
HI @thochstein,

Thanks, so I will test the latest release, I hope tests will work.

Otherwise, how do you do to functionally validate your new versions without using optee-test?

Best regards,
Thomas

[2022-02-10 16:28] thochstein commented on #971
When updating components from NXP releases we only do sanity checks (does it boot to a desktop) and rely on the functional testing that has already been done on the component (while in the meta-imx layer) and then the testing of the community itself.

[2022-02-10 22:51] tprrt commented on #971
Hi @thochstein,

So, I bumped OP-TEE to 3.15, then tests are built successfully, but a few are failed, especially PKCS#11 tests:

[code]

[2022-02-10 23:24] thochstein commented on #971
Perhaps there's more in the `meta-imx` layer that needs updating? I'll have to dig and/or ask for help.

[2022-02-16 10:19] tprrt commented on #971
Yes, I updated the kernel to 5.10 to fix some regression tests errors. But pksc11 tests always fail to open a session to a Trusted Application.

[2022-02-16 14:46] clementfaure commented on #971
Hi @tprrt,

0xffff0008 -> `TEE_ERROR_ITEM_NOT_FOUND`
It looks like the PKCS#11 TA is missing from `/lib/optee_armtz/`. Could you confirm?

The PKCS#11 trusted application is generated by optee-os compilation. Make sure to also install TAs generated by optee-os compilation in your rootfs:
[code]

[2022-02-16 15:32] thochstein commented on #959
Yes, sorry for all the trouble here. We heard of a problem yesterday and IT is looking into it again...

[2022-02-16 15:59] clementfaure commented on #971
Yes, the PKCS#11 TA is missing.
Please find the TA in `<build_output>/ta/pkcs11/fd02c9da-306c-48c7-a49c-bbd827ae86ee.ta` and add it to your target.

[2022-02-16 16:13] tprrt commented on #971
So, I found my issue, I appended optee-test to the image but not optee-os then only the trusted application for tests have been shipped in my images.

Thank you @clementfaure for putting me on the way. :)

[2022-02-16 16:26] otavio commented on #959
I reopened it so we have it as a central point of contact for people facing this problem.

[2022-02-16 16:27] otavio commented on #971
So the rdepends need to be added. Please prepare a PR ;)

[2022-02-16 17:28] thochstein commented on #971
I can move the 3.15 recipes into meta-freescale master and add the rdepends.

[2022-02-19 01:30] otavio commented on #791
@pberginkonsult @IniterWorker please check the PR above. It seems to greatly fix this issue.

[2022-02-19 17:35] otavio commented on #971
@thochstein please base it on top of #980 so we reduce conflicts.

[2022-02-23 13:16] #791 closed

[2022-02-24 22:50] thochstein commented on #971
Okay, the update is here #985.

Hmm, I think I incorrectly decided that I didn't need the rdepends. I will build an image now to check.

[2022-02-25 17:20] otavio commented on #971
Fixed in #985.

[2022-02-25 17:20] #971 closed

[2022-02-28 07:12] junzhuimx opened #990 "The compatible issue for -generic-bsp overriding"
The issue happens on the commit -- https://github.com/Freescale/meta-freescale/commit/30f5ce1d2168389295b4813e01898c2fb0f9bab9
It make a lot of generic SOC overriding to be NXP BSP specific.

Recently, the a lot of recipes with "imx/mx6/mx7/mx8/mx8m" SOC overides are generic. But use "imx-generic-bsp/mx6-generix-bsp/....." to override these setting
- it is not necessary: make the recipe line longe

[2022-03-02 23:32] otavio commented on #990
The provided PR assist in the convertion and also provide a script to do most of it.

[2022-03-03 14:07] #990 closed

[2022-03-04 16:54] dv1 opened #996 "ALSA output broken on imx8mm-lpddr4-evk (current git master)"
I have an imx8m mini LPDDR4 Rev.B EVK board here. I use the `imx8mm-evk-revb-qca-wifi.dtb` DTB.

When I try to play any audio to an ALSA output PCM device, the board completely freezes.

List of loaded modules:

[code]

`uname -a` output:

`Linux imx8mm-lpddr4-evk 5.10.93+gf28a9b90c506 #1 SMP PREEMPT Thu Jan 20 20:01:30 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux`

I also looked in dmesg:

[code]

[2022-03-04 17:23] otavio commented on #996
Please add the firmware of sdma, as dmesg complains. See if it helps.

[2022-03-04 17:28] dv1 commented on #996
Is this useful?

[code]

The bitbake recipe is `recipes-bsp/firmware-imx/firmware-imx_8.14.bb`. meta-freescale git HEAD is `f6e0f17d2b777d15d97632055d129a10bd47e525`. Last git commit that touched the `firmware-imx` folder is `dbd0f0ae908a6b287488707cfe9f2d464b9b02d5`.

[2022-03-04 17:33] tprrt opened #997 "optee-os 3.15.0.imx no longer compile when the RPMB support is enabled"
When ```CFG_RPMB_FS=y```, OP-TEE os no longer compiles because ```imx_rpmb.c``` tries to include a header that doesn't exist.
This issue seems linked to a rework that allows to compile i.MX Secure Non-Volatile Storage driver without RPMB.

[code]

[2022-03-04 17:42] otavio commented on #997
@thochstein can you take a look?

[2022-03-04 18:04] thochstein commented on #997
@clementfaure, can you comment?

[2022-03-07 08:40] clementfaure commented on #997
Hi,
That's a mistake we've fixed. It will be available in the next release.
Replace `#include <drivers/imx_snvs.h>` with `#include <drivers/nxp_snvs.h>`

[2022-03-07 11:41] otavio commented on #997
@clementfaure, @thochstein could you guys prepare a PR?

[2022-03-07 16:09] thochstein commented on #997
I'll make the PR. @tprrt can you test that it fixes the build for you?

[2022-03-08 10:29] tprrt commented on #997
Hi @thochstein,

I already tried to do this before opening the ticket. :)
I also tried to replace it by ```nxp_snvs.h```.

So, it isn't enough, the following error is raised:

[code]

[2022-03-08 10:48] clementfaure commented on #997
Hi @tprrt,
What is your platform?

[2022-03-08 13:19] clementfaure commented on #997
That's what I thought.
The OP-TEE SNVS driver is not supported on i.MX8QM/QXP platforms. That's why the `CFG_NXP_SNVS` is forced to `n` and `SNVS_BASE/SIZE` not defined.
That leads us to `core/arch/arm/plat-imx/sub.mk` where `srcs-$(CFG_RPMB_FS) += imx_rpmb.c` is false. Instead, it should be `srcs-$(CFG_NXP_SNVS) += imx_rpmb.c`. We will fix that in our next rebase.

[2022-03-08 14:42] clementfaure commented on #997
@tprrt Not yet. The SNVS driver for these platforms is something totally different.

[2022-03-10 21:02] zandrey opened #1005 "NXP Release 5.15.5-1.0.0 and Yocto 4.0 Kirkstone"
Recent status [published by Yocto Project](https://lore.kernel.org/all/18e901d83306$9429b010$bc7d1030$@gmail.com/) sets the next LTS 3.5 _Kirkstone_ release date to `2022/04/29`

I've seen some mentions that there is an upcoming release planned from NXP (`5.15.5-1.0.0`) and wanted to check if it is planned to be included in the _meta-freescale_ that would branch out to `kirkstone` from `master`?

[2022-03-10 21:15] thochstein commented on #1005
Hi @zandrey, `5.15.5-1.0.0` will release March 31 on `honister`. The next quarter `5.15.x-2.0.0` will release Jun 30 on `kirkstone`.

[2022-03-10 21:20] otavio commented on #1005
I'd love to have 5.15-1.0.0 on our kirkstone; @thochstein can we start upstreaming soon?

[2022-03-10 21:20] zandrey commented on #1005
Hi @thochstein!

Thanks a lot for such a prompt reply and the information on the dates!

I guess that with `5.15.5-1.0.0` release end of March, it would still give around 4 weeks to upstream it to `master` in _meta-freescale_ and eventually - to `kirkstone`. I would then rather give up on the `5.10-2.2.x-imx` Kernel and focus on `5.15.y` instead.

-- andrey

[2022-03-10 21:23] thochstein commented on #1005
Sure, haven't finished moving changes from the last release, mainly gstreamer that I know of.

[2022-03-13 08:20] escherstair opened #1006 "Status of support for GPU hardware acceleration on i.MX8"
I've just started the evaluation of i.MX8 family (i.MX8M-Mini in particular) for a new project.
My need is to create a nodejs-based web app running over Linux, and Chromium would seem the most common and used client.

But based on what I found searching around and taliking to some SoMs vendors, it seems that Chromium doesn't have support for i.MX8 GPU.
And it's not clear i any other client has thi

[2022-03-13 17:16] otavio commented on #1006
Yes. You can use this or NXP official release.

This is enabled when meta-browser/meta-chromium is added.

Yes. We (at O.S. Systems) have customers using i.MX8M family with it as well as other embedded browsers.

Sending PRs here.

[2022-03-16 01:29] #997 closed

[2022-03-16 23:08] #1006 closed

[2022-03-17 12:09] liuming50 opened #1011 "mesa 22.0.0 does not build with libdrm-imx 2.4.107"
mesa has been upgraded to 22.0.0 since commit in OE:
[code]

it now requires libdrm version higher than 2.4.109, but we seems dont have such a release in git://source.codeaurora.org/external/imx/libdrm-imx.git ?

So meta-freesacle master does not build with OE master after the above commit, any idea how to fix this?

[2022-03-17 12:26] otavio commented on #1011
Please refer to #1009.

[2022-03-29 20:25] dv1 opened #1022 "imx6qdlsabresd: kernel panic at boot time, using current git master"
I built an imx6qdlsabresd image with current git master (git HEAD cf88b9ac6c9d818b312c8aec774db2ae4f9d4f71 in meta-freescale). Initially it boots fine. But then I see kernel crashes like this one:

[code]

U-Boot version according to UART log:

    U-Boot 2022.01+fslc+ged9503daa3 (Jan 18 2022 - 11:54:53 +0000)

Kernel:

    5.10.93+gf28a9b90c506 (oe-user@oe-host) (arm-poky-linux-gnueabi-gcc (GCC)

[2022-03-29 20:59] otavio commented on #1022
@thochstein did someone reported it internally as well?

[2022-03-29 21:52] thochstein commented on #1022
Checking.

[2022-03-30 08:13] dv1 commented on #1022
Also of note: I tried 2 different Sabre SD boards and 2 different SD cards. Error persisted.

[2022-03-30 12:00] otavio commented on #1022
@dv1 please check if using the latest version in https://github.com/Freescale/kernel-module-imx-gpu-viv helps?

[2022-03-30 12:17] otavio commented on #1022
For completeness, here is the log fragment showing the current version:
![image](https://user-images.githubusercontent.com/25278/160832590-13202719-d21c-4520-bcfa-7b77ca5bd180.png)

[2022-03-30 19:25] dv1 commented on #1022
You mean version 6.4.3p4.0 ? Okay, I'll try that out.

[2022-03-30 19:45] dv1 commented on #1022
Nope - kernel log shows Galcore version 6.4.3.p4.398061, but still:

[code]

[2022-03-30 20:13] otavio commented on #1022
@dv1 is this reproducible in other boards?

@gibsson @MaxKrummenacher @zandrey ideas?

[2022-03-30 20:14] dv1 commented on #1022
I did not see this on an imx8mm revB EVK board, nor on a verdin imx8mp. I currently do not have any other imx6 boards here, unfortunately.

[2022-03-31 07:07] gibsson commented on #1022
Never saw that issue, but we haven't done a lot of testing with i.MX6 + 5.10 kernel, mostly i.MX 8M.

[2022-03-31 13:31] Ossanes opened #1027 "imx8dx-mek: Error compiling imx-boot"
Building a core-image-base, when compiling imx-boot this error occurs:

[code]

It happens because imx-boot repository doesn't contain the iMX8DX directory (https://source.codeaurora.org/external/imx/imx-mkimage.git).

As workaround I tried to to use iMX8DXL directory instead by adding `BOOT_STAGING:mx8dx  = "${S}/iMX8DXL"`, but this results in another error:

[code]

[2022-03-31 13:39] otavio commented on #1027
@thochstein @zandrey

[2022-03-31 16:22] thochstein commented on #1027
Looking at it.

[2022-04-01 08:13] escherstair commented on #1006
I reopen this issue because I tried to enable GPU usage for Chromium on iMX8M adding `--enable-features=UseOzonePlatform --ozone-platform=wayland` startup parameters.
It seems working (because [this CodeSandbox example](https://codesandbox.io/s/rrppl0y8l4?file=/src/App.js) runs) but the performance are poor.
Profiling the execution I see that CPU usage is near to 100% and so it seems that (for som

[2022-04-01 08:16] escherstair opened #1029 "GPU rendering falls back to CPU on iMX8M-Mini"
This is a follow-up of issue #1006

I tried to enable GPU usage for Chromium on iMX8M adding `--enable-features=UseOzonePlatform --ozone-platform=wayland` startup parameters.
It seems working (because [this CodeSandbox example](https://codesandbox.io/s/rrppl0y8l4?file=/src/App.js) runs) but the performance are poor.
Profiling the execution I see that CPU usage is near to 100% and so it seems that

[2022-04-01 12:21] #1027 closed

[2022-04-01 12:23] otavio commented on #1029
@thochstein is there a pending bbappend update from NXP side?

[2022-04-01 19:44] MaxKrummenacher commented on #1022
We did not port to the imx 5.10 kernel and haven't seen this kernel panic with the imx 5.4 kernel.

I did a quick port to the fslc 5.10 kernel and build an image for apalis-imx6. The image booted to the console login prompt and weston on the HDMI output, no panic or kernel back trace.

That is with a snapshot of today plus the apalis-imx6 patch to meta-freescale-3rdparty.
[0001-apalis-imx6-build-w

[2022-04-06 11:40] otavio commented on #1022
@MaxKrummenacher, @gibsson thanks. @dv1 we upgraded the Linux kernel and U-Boot please check if it changes something.

[2022-04-11 07:00] escherstair commented on #1029
Thank you very much.

[2022-04-11 07:59] junzhuimx opened #1042 "All of Layerscape builds has the wrong "KERNEL_IMAGETYPE" and "SERIAL_CONSOLES" default setting"
All of layerscape image meet wrong kernel image type and no serial console, after build with latest master branch.
It found that "KERNEL_IMAGETYPE" is set to "zImage" and " SERIAL_CONSOLES="" ", which comes from the default setting in poky.

The issue is caused by 2 patches to "use weak defaults"
- https://github.com/Freescale/meta-freescale/commit/9d5c49f8c604f117da0995f8946ff04c17caada9
- https:

[2022-04-11 11:42] otavio commented on #1042
@niebelm, could you check this? It is a regression from the PRs you did.

[2022-04-11 15:21] niebelm commented on #1042
Sorry for the inconvinience:

- `SERIAL_CONSOLE` is depracated since 2013 but is used to set an empty weak default for `SERIAL_CONSOLES` (poky
c09809f0609beb27e5670d69cbdcf713fb884f7b - https://git.yoctoproject.org/poky/commit/meta/conf/bitbake.conf?id=c09809f0609beb27e5670d69cbdcf713fb884f7b)

- kernel.bbclass decides to for whatever reason, that zImage is the best global default for `KERNEL_IMAG

[2022-04-12 09:40] niebelm commented on #1042
See #1045

[2022-04-12 10:45] otavio commented on #1042
@niebelm merged. @junzhuimx, could you give it a try? Closing this.

[2022-04-12 10:45] #1042 closed

[2022-04-12 12:54] junzhuimx commented on #1042
@niebelm
The original weak default setting KERNEL_IMAGETYPE ?= "uImage" is default setting for NXP BSP release.
current ??= default setting is meaningless as poky conf will overwrite to "zImage".
For the customization, it is easy to overwrite it by "="

[2022-04-14 06:52] dv1 commented on #1022
@otavio Yes, thanks, works now! Using meta-freescale git master 8aa0cac47b390f127e46d1eac541e5ef1ecf711f and poky 3b2edd473ebad28383be5ecd0329ec13bbfef336 here, and it no longer crashes.

[2022-04-14 06:52] #1022 closed

[2022-04-14 21:24] Ossanes opened #1052 "mpc8548cds: Fail on meson-qemuwrapper"
image: core-image-base

Log data follows:
[code]

@ting-liu
@guochunrong

[2022-04-18 00:37] nobody93 opened #1055 "Missing kirkstone branch"
There is no kirkstone branch, can the master branch support Kirkstone 4.0?

[2022-04-18 11:24] otavio commented on #1055
up to now, master.

[2022-04-18 11:24] #1055 closed

[2022-04-24 00:08] david-sterling commented on #1029
I have this problem too. I am unable to play hw accelerated video beyond dunfell. However the official NXP board 8MMINILPD4-EVK with Linux 5.10.35_2.0.0 iMX validation release and it works well so must be something in FSLC. I see Weston has been seriously reworked too from dunfell.

Appreciate your work guys, thanks. I am open to help but you should throw some docs at me before I fully grasp this

[2022-04-25 22:45] thochstein commented on #1029
There's a draft here: https://github.com/Freescale/meta-freescale/pull/1053

[2022-04-28 02:41] nobody93 opened #1062 "Failed to fetch source"
Both honister branch and master have following error:

ERROR: u-boot-imx-2021.04-r0 do_fetch: Bitbake Fetcher Error: FetchError('Unable to fetch URL from any source.', 'git://source.codeaurora.org/external/imx/uboot-imx.git;protocol=https;branch=lf_v2021.04')

Could anyone fix it please?

Thank you.

jupiter

[2022-04-28 02:43] nobody93 commented on #1005
There is no kirkstone branch, should we use master to build Kirkstone?

[2022-04-28 11:41] otavio commented on #1062
@thochstein can you verify the Git server?

[2022-04-28 11:43] otavio commented on #1005
For now, yes. We are finishing some more tests before branching but it ought to happen very soon.

[2022-04-28 14:28] thochstein commented on #1062
It works for me. Is it still failing Jupiter?

[2022-05-02 10:00] escherstair commented on #1005
Based on what I see [here](https://wiki.yoctoproject.org/wiki/Releases) Yocto Kirkstone number has been switched to 4.0 (no more 3.5 as it was before, and as it is in the title of this issue).

[2022-05-02 11:40] otavio commented on #1005
Thanks @escherstair. Updated.

@thochstein what is missing from your side?

[2022-05-02 13:57] thochstein commented on #1005
Sorry, I've had other issues to work on and this has slid. I can start upstreaming this week. Is it too late?

[2022-05-02 14:08] otavio commented on #1005
Please do; we can force it in kirkstone as nobody is using it extensively yet.

[2022-05-03 10:01] denniedegroot commented on #938
I am running into the same issue with ld-is-gold enabled. Any progress on this?

[2022-05-04 09:02] franzflasch commented on #1005
Hi @thochstein!

That would be great and would be very appreciated. Any thoughts on how long it will take?

[2022-05-04 15:49] thochstein commented on #1005
Hi @franzflasch, I've started on it, hopefully we can get it done in a week or two.

[2022-05-06 06:48] AlexanderVatti opened #1068 "Yocto : Image-buildinfo: Exceptionerror"
Hi Team,

We are using the following poky , with Ubuntu 18.04
DISTRO = poky
DISTRO_VERSION = 3.0.2

We have added "Image-buildinfo" ,

But It is not working .
-----------------------
Layer Revisions:      |
-----------------------
meta              = <unknown>:<unknown>
meta-poky         = <unknown>:<unknown>
meta-oe           = <unknown>:<unknown>
meta-multimedia   = <unknown>:<unknown>
meta-pyth

[2022-05-06 11:38] otavio commented on #1068
What `git rev-parse HEAD` returns? this seems like something is not right in your host.

[2022-05-06 12:50] pberginkonsult commented on #1068
What you most likely see is an effect of an update of git on your host machine. https://github.blog/2022-04-12-git-security-vulnerability-announced/ This is something that has affected Yocto builds for a while. Some fixes has been pushed to oe-core but it seems to not solve issue completely.

Here is one of many threads around this in oe-core https://lists.openembedded.org/g/openembedded-core/topi

[2022-05-06 13:36] #1068 closed

[2022-05-06 13:46] AlexanderVatti commented on #1068
Thanks for inputs and pointing the solutions

[2022-05-12 08:23] tprrt opened #1081 "OP-TEE tests fail on i.MX 8M Mini LPDDR4 EVKB"
The regression test 1004 is stalled on i.MX 8M Mini LPDDR4 EVKB:

[code]

In addition, PKCS#11 tests fail:
[code]

This issue can be reproduced with the master branch (64121b5aafd5eb25a3b2be76cf03cba4d7125e10) of meta-freescale, that contains  OP-TEE version 3.15.0, branch lf-5.10.72_2.2.0, srcrev 4d81b964a72e89a62d04187b3f055d8346b383c9.

[2022-05-12 09:04] jwzl opened #1082 "chromium-ozone-wayland play yutube video will crashed!"
imx8M Mini chromium-ozone-wayland play yutube will crashed in zeus/danfell/hardknott yocto release. how to fix it?
@otavio

[2022-05-12 10:32] otavio opened #1084 "Build failure for `imx-atf` on master and kirkstone"
Unfortunately when I went to build `core-image-weston` I ran into a build failure for `imx-atf`:

[code]

_Originally posted by @thochstein in https://github.com/Freescale/meta-freescale/issues/1080#issuecomment-1124471682_

[2022-05-12 10:36] otavio commented on #1084
@thochstein, I opened this issue so that it isn't forgotten.  It might work arounded using `-Warray-bounds`.

[2022-05-12 10:39] otavio commented on #1081
@thochstein have this been released in upcoming update?

[2022-05-12 22:41] thochstein commented on #1081
Hi @tprrt, please see if #1085 helps.

[2022-05-13 10:51] m5p3nc3r opened #1087 "Support linux-yocto kmeta configuration"
Hi community

Are there any plans for meta-freescale to support the standard linux-yocto kmeta config fragments system?  The reason I ask is that I am building a k3s based system for multiple targets and meta-virtualization contains the correct config fragment to make sure that the built kernel has the correct features to support k3s.  On platforms that support kmeta configuration, this 'just work

[2022-05-16 15:53] thochstein commented on #1081
Hi @tprrt, yes, I noticed that as well #1084. Hope to get this fixed today.

[2022-05-16 15:54] angolini commented on #1087
One of the reasons is that some BSP vendor kernels does not use that so far, but I don't see why not to include this support for kernels using mainline BSP, for example.

[2022-05-16 17:31] MaxKrummenacher commented on #1084
I assume this discussion (and eventually the patch) will fix it from within GCC:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99578#c39

[2022-05-16 19:04] thochstein commented on #1084
Thanks, @MaxKrummenacher !

[2022-05-16 20:49] MaxKrummenacher commented on #1084
@thochstein
I may have been to optimistic. The workaround described in the gcc bugzilla entry makes the error go away if the constant value casted to pointer and then dereferenced is > 4kB, i.e. > 0x1000.
Looks like the HAB_RVT_BASE is at addresses 0x0880 or 0x0900 so those false positves may still be reported.

[2022-05-16 21:10] #1084 closed

[2022-05-17 01:13] jwzl commented on #1082
@otavio @kergoth

[2022-05-17 02:45] jwzl commented on #1029
@thochstein  this patch is for which version chromium? thanks!

[2022-05-17 07:57] tprrt commented on #1081
Hi @thochstein,

The same issue occurs with the revision NXP 5.15.5-1.0.0.

[2022-05-17 12:50] thochstein commented on #1081
@clementfaure, can you advise on this issue?

[2022-05-17 20:25] m5p3nc3r commented on #1087
Hey @angolini, thanks for the feedback.

I have create a PoC that enables me to build the downstream meta-freescale kernel configuration for imx8mp.  It makes use of the tooling that Bruce Ashfield create (kgit-config) to try and automate the process of kmeta creation.  This mostly works, but I had to manually remove CONFIG_DRM due to a Cadence driver issue (I don't need HDMI output working, so th

[2022-05-18 15:54] angolini commented on #1087
@m5p3nc3r , feel free to create a PR if you want to upstream your work on this topic.
Other than that, I think we can close this issue, what do you think?

[2022-05-23 00:55] #1062 closed

[2022-05-23 00:55] nobody93 commented on #1062
Thanks, it is back

[2022-05-23 04:52] nobody93 opened #1094 "NAND broken in kirkstone branch?"
Removed

[2022-05-23 05:50] jleni commented on #1081
Hi @thochstein! Thanks for your help!
Do you have any updates on this issue? 😟

[2022-05-24 17:31] tprrt commented on #1081
Hello @thochstein, @clementfaure,

Do you have any news regarding this item?

Kind regards,
Thomas Perrot

[2022-05-28 01:48] #1094 closed

[2022-05-28 01:48] nobody93 commented on #1094
Removed

[2022-06-03 16:11] #1087 closed

[2022-06-03 16:13] #922 closed

[2022-06-03 16:14] angolini commented on #938
What is the status of this issue using current master, @sapiippo ?

[2022-06-03 16:16] angolini commented on #941
@IniterWorker , are you planning to work on this? Or can I close the issue?

[2022-06-03 16:17] angolini commented on #961
I will close this issue. If there is a way to reproduce it on our side, please reopen and update with the how-to.

[2022-06-03 16:17] #961 closed

[2022-06-03 16:20] angolini commented on #951
Are we going to use a weaker assignment for that variable, @otavio ?

What is the status of this issue?

[2022-06-03 16:32] otavio commented on #951
@angolini we need to have a use case for this. If @IniterWorker can describe what he is trying to do and provide a way for test, sure.

[2022-06-08 14:24] IniterWorker commented on #951
@otavio, sure, this work was related to the flash process of the imx6ull via uuu-tools in fastboot mode. The `IMAGE_FSTYPES` overrides the machine configuration and fitImage was not populated properly with `cpio.gz.u-boot`.

To make it work, I create my own __bbclass__ and __flash-image__ (mfgtool-initramfs-image).

<details close>
  <summary>meta-customer/classes/custom-initramfs-image.bbclass</s

[2022-06-08 14:32] IniterWorker commented on #941
Thank you @angolini, I close it. Because the next step should be a different task with moving uuu-tools to the meta-oe layer.

[2022-06-08 14:32] #941 closed

[2022-06-08 14:41] otavio commented on #951
Can you prepare a PR?

[2022-06-08 22:40] IniterWorker commented on #951
@otavio, I must ask two questions before:
- Can we make `IMAGE_FSTYPES` weak?
- Did you make it work before with `cpio.gz.u-boot`? (Because, I need to remove it on imx6ull machine. See https://github.com/Freescale/meta-freescale/issues/951#issuecomment-1021247221)

[2022-06-09 00:01] otavio commented on #951
Yes.

Yes but without fitImage use.

[2022-06-13 12:43] woutervanh opened #1107 "imx53 + mesa + freedreno + wayland + video => color issue"
As I don't have really another place to keep track of this.
Is somebody else using freedreno + mesa + wayland + gstreamer video on imx53?
It it's using the gpu to composite, colors seems to be messed up. If running on kmssink or not-scaled (thus using hw plane, using following [patch ](https://gitlab.freedesktop.org/gstreamer/gstreamer/-/merge_requests/966/diffs)), colors are correct
![Capture](ht

[2022-06-13 22:26] #951 closed

[2022-06-22 06:06] dv1 commented on #996
Just tested a current Kirkstone build with the exact same machine. `aplay -l` now shows:

[code]

And `cat /dev/urandom | aplay -f S16_LE -c2 -r48000 -D hw:1,0` works now - I hear audio on the line out jack. None of the devices hang anymore.

Firmware version:

[code]

Kernel:
[code]

Note that this is the linux-imx kernel. I included this in the local.conf:

    PREFERRED_PROVIDER_virtual/kernel:

[2022-06-22 08:00] dv1 commented on #996
The error happened with `linux-fslc-imx` version 5.10.109 . But with version 5.15.48+gb6597629c15c, it went away.  Closing this issue.

[2022-06-22 08:00] #996 closed

[2022-06-22 18:46] woutervanh opened #1113 "wrong kmsdev in xorg.conf?"
When I build an xorg system for my imx6 platform, using mainline-bsp, I need to change the kmsdev to card1 for it to work, where the default xorg.conf defined states card0. What is defining this? Is it wrong in this repo? Or do I have something wrong in my setup?
`
meta-freescale/recipes-graphics/xorg-xserver/xserver-xf86-config/use-mainline-bsp/xorg.conf:    Option     "kmsdev"      "/dev/dri/car

[2022-06-22 20:24] woutervanh commented on #1113
Ok, made a pullrequest both in master and kirkstone

[2022-06-22 21:45] otavio commented on #1113
Fixed in #1114

[2022-06-22 21:45] #1113 closed

[2022-06-29 08:30] Ondrej1 opened #1126 "imx-boot fails to build on kirkstone when using imx-atf from meta-imx"
Hi. I ran into an issue after upgrading to kirkstone. In this [commit](https://github.com/Freescale/meta-freescale/commit/546a884afd29b5e058ddf0f1a6964246db8ffb70) by @zandrey, the deploy location of bl31.bin is changed. This change is done in both imx-atf and imx-boot, so when imx-atf from meta-freescale is used, everything works fine. However, meta-imx contains imx-atf version 2.6 which is newer

[2022-06-29 09:34] zandrey commented on #1126
Hello @Ondrej1

Thanks for reporting this!

I was wondering how your build env setup looks like that you've combined the latest `kirkstone` branch from this layer together with _meta-imx_ one?

Usually, you do need _meta-imx_ layer to build NXP vendor BSP, and according to [instructions in _meta-imx_ layer](https://source.codeaurora.org/external/imx/meta-imx/tree/README?h=kirkstone-5.15.32-2.0.0)

[2022-06-29 10:25] Ondrej1 commented on #1126
Thanks for the quick response. Yes, I am using a custom manifest and I just used the newest commit from the kirkstone branch in each layer. I will update it to use the commits in imx-manifest.

[2022-06-29 10:25] #1126 closed

[2022-07-08 13:51] PierreGrillet commented on #1005
Hi guys,

I wonder the state of the kirkstone branch here. As this issue is still opened, is kirkstone ready?

[2022-07-11 16:17] otavio commented on #1005
We have it all in sync with master and it looks good, AFAIK. Please give it a go.

I'll close this to avoid confusing users.

[2022-07-11 16:17] #1005 closed

[2022-07-26 19:33] thepperson opened #1146 "mkimage_uboot libssl failure"
I ran into a failure building u-boot on commit 3cb29cff92568ea835ef070490f185349d712837 of this repository.
I found a mailing list message that details a solution that worked for me. https://www.mail-archive.com/meta-freescale@lists.yoctoproject.org/msg00297.html

[2022-07-26 19:42] otavio commented on #1146
Which branch are you using?

[2022-07-26 19:43] thepperson commented on #1146
It is the dunfell branch

[2022-07-26 19:49] otavio commented on #1146
Could you check if master fails? So we'd first fix it in master and then do the backports.

[2022-07-26 20:00] thepperson commented on #1146
I don't have a setup that works on the kirkstone release at the moment to do that test with.

[2022-07-28 11:57] otavio commented on #1146
@thochstein, is this a known issue?

[2022-07-28 14:00] thochstein commented on #1146
It's a mistake in the cherry-pick. In order to drop these lines from `do_compile`:

[code]

you also need to cherry-pick this so the sysroot `mkimage` is used: https://github.com/Freescale/meta-freescale/commit/c59f817b0d1ee70ef224405ff8acd31e0743ed91.

Right, @zandrey?

[2022-08-01 15:12] #966 closed